<div class="popupConfirmContainer">
  <div class="popup fadeInDown">
    <div class="divIcon">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 svgWarningIcon">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
      </svg>

    </div>
    <div class="divEliminarNota" *ngIf="itemForDelete == 'nota'">
      <h2>Eliminar Nota</h2>
      <div class="content">
        Seguro que desea eliminar la nota?
      </div>
    </div>
    <div class="divEliminarAusencia" *ngIf="itemForDelete == 'ausencia'">
      <h2>Eliminar Ausencia</h2>
      <div class="content">
        Seguro que desea eliminar la ausencia?
      </div>
    </div>
    <div class="divEliminarHistorial" *ngIf="itemForDelete == 'historial'">
      <h2>Eliminar Historial</h2>
      <div class="content">
        Seguro que desea eliminar el historial?
      </div>
    </div>
    <div class="divEliminarAlumnoDeAula" *ngIf="itemForDelete == 'Alumno de Aula'">
      <h2>Remover Alumno de Aula</h2>
      <div class="content">
        Seguro que desea remover el Alumno del Aula?
      </div>
    </div>
    <div class="divEliminarAula" *ngIf="itemForDelete == 'Aula'">
      <h2>Eliminar Aula</h2>
      <div class="content">
        Seguro que desea eliminar el Aula?
      </div>
    </div>
    <div class="divEliminarAlumno" *ngIf="itemForDelete == 'Alumno'">
      <h2>Eliminar Alumno</h2>
      <div class="content">
        Seguro que desea eliminar el Alumno?
      </div>
    </div>
    <div class="divEliminarUsuario" *ngIf="itemForDelete == 'Usuario'">
      <h2>Eliminar Usuario</h2>
      <div class="content">
        Seguro que desea eliminar el Usuario?
      </div>
    </div>
    <div class="divEliminarPersona" *ngIf="itemForDelete == 'Persona'">
      <h2>Eliminar Persona</h2>
      <div class="content">
        Seguro que desea eliminar la Persona?
      </div>
    </div>
    <div class="divEliminarPersona" *ngIf="itemForDelete == 'institucion'">
      <h2>Eliminar Institucion</h2>
      <div class="content">
        Seguro que desea eliminar la Institucion?
      </div>
    </div>

    &nbsp;
    <div class="container">
      <div class="customButtons">
        <button (click)="cancelarClicked()" class="closeButton">
          Cancelar
        </button>
      </div>
      <div class="customButtons">
        <div class="divAddButton">
          <button class="btnEliminar" (click)="eliminarClicked()">
            <span>
              Eliminar
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
            </span>
            <span>
              Seguro?
            </span>
            <span>
              Enviado!
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><g stroke-width="0" id="SVGRepo_bgCarrier"></g><g stroke-linejoin="round" stroke-linecap="round" id="SVGRepo_tracerCarrier"></g><g id="SVGRepo_iconCarrier"> <path stroke-linecap="round" stroke-width="2" stroke="#ffffff" d="M8.00011 13L12.2278 16.3821C12.6557 16.7245 13.2794 16.6586 13.6264 16.2345L22.0001 6"></path> <path fill="#ffffff" d="M11.1892 12.2368L15.774 6.63327C16.1237 6.20582 16.0607 5.5758 15.6332 5.22607C15.2058 4.87635 14.5758 4.93935 14.226 5.36679L9.65273 10.9564L11.1892 12.2368ZM8.02292 16.1068L6.48641 14.8263L5.83309 15.6248L2.6 13.2C2.15817 12.8687 1.53137 12.9582 1.2 13.4C0.868627 13.8419 0.95817 14.4687 1.4 14.8L4.63309 17.2248C5.49047 17.8679 6.70234 17.7208 7.381 16.8913L8.02292 16.1068Z" clip-rule="evenodd" fill-rule="evenodd"></path> </g></svg>
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

