.popupConfirmContainer {
  display: flex;
  justify-content: center;
  background: #fff;
  border-radius: 5px;
  transition: all 5s ease-in-out;
  border-radius: 10px;

}
.popup{
  position: absolute;
  z-index: 9999;
  background-color: #28282B;
  border-radius: 18px;
  box-shadow: 3px 6px 6px 8px rgba(0, 0, 0, 0.2);
  width: 356px;
  max-width: 394px;
}
.divIcon{
  display: flex;
  justify-content: center;
}

.svgWarningIcon{
  width: 60px;
  height: 60px;
  color: red;
}

  .popup h2 {
    margin-top: 0;
    color: white;
    font-family: Tahoma, Arial, sans-serif;
    display: flex;
    justify-content: center;
  }
.content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }

    .popup .close:hover {
      color: #06D85F;
    }

  .popup .content {
    max-height: 30%;
    overflow: auto;
  }

  /* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

@media screen and (max-width: 700px) {
  .box {
    width: 70%;
  }

  .popup {
    width: 70%;
  }
}


.closeButton {
  padding: 1.3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.closeButton:hover {
  background-color: #C24037;
  box-shadow: 0px 15px 20px #dc453a8a;
  color: #fff;
  transform: translateY(-7px);
}

.btnEliminar {
  position: relative;
  outline: 0;
  border: 1px solid transparent;
  background-color: rgb(92, 13, 13);
  color: #ffffff;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  overflow: hidden;
  box-shadow: 0 4px 6px -1px rgba(80, 7, 7, 0.685), 0 2px 4px -1px rgba(80, 7, 7, 0.685);
}

.btnEliminar span {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  transition: all .4s ease;
}

.btnEliminar svg {
  width: 1.25rem;
  height: 1.25rem;
}

.btnEliminar span:nth-child(2),.btnEliminar span:nth-child(3) {
  position: absolute;
  top: 40px;
  color: #fff;
}

.btnEliminar span:nth-child(2) {
  background-color: rgb(92, 13, 13);
}

.btnEliminar span:nth-child(3) {
  background-color: rgb(92, 13, 13);
}

.btnEliminar:hover {
  box-shadow: 0 10px 15px -3px rgba(80, 7, 7, 0.685), 0 4px 6px -2px rgba(80, 7, 7, 0.685);
}

.btnEliminar:hover span:nth-child(2), .btnEliminar:focus span:nth-child(3) {
  top: 0;
}

.btnEliminar:focus {
  box-shadow: none;
}
.customButton {
  display: flex;
  justify-content: center;
  background-color: dimgrey;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 14px;
}
