<div class="popupConfirmContainer">
  <div class="popup fadeInDown">
    <div class="divIcon">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 svgWarningIcon">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
      </svg>

    </div>
    <div class="divEliminarNota" *ngIf="itemForDelete == 'nota'">
      <h2>Eliminar Nota</h2>
      <div class="content">
        Seguro que desea eliminar la nota?
      </div>
    </div>
    <div class="divEliminarAusencia" *ngIf="itemForDelete == 'ausencia'">
      <h2>Eliminar Ausencia</h2>
      <div class="content">
        Seguro que desea eliminar la ausencia?
      </div>
    </div>
    <div class="divEliminarHistorial" *ngIf="itemForDelete == 'historial'">
      <h2>Eliminar Historial</h2>
      <div class="content">
        Seguro que desea eliminar el historial?
      </div>
    </div>
    <div class="divEliminarAlumnoDeAula" *ngIf="itemForDelete == 'Alumno de Aula'">
      <h2>Remover Alumno de Aula</h2>
      <div class="content">
        Seguro que desea remover el Alumno del Aula?
      </div>
    </div>
    <div class="divEliminarAula" *ngIf="itemForDelete == 'Aula'">
      <h2>Eliminar Aula</h2>
      <div class="content">
        Seguro que desea eliminar el Aula?
      </div>
    </div>

    &nbsp;
    <div class="container">
      <div class="customButtons">
        <button (click)="cancelarClicked()" type="button" class="btn btn-secondary customButton" id="cancelButtonClick">Cancelar</button>
      </div>
      <div class="customButtons">
        <button class="noselect">
          <span class="text">Eliminar</span><span class="icon" (click)="eliminarClicked()" id="eliminarButtonClick"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="24" viewBox="0 0 24 24"><path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"></path></svg></span>
        </button>
      </div>
    </div>
  </div>
</div>

