<!--POPUP EDITAR-->
<div class="popup fadeInDown">
  <form>
    <div class="formContent">
      <div class="titleHeader">
        <h2>Agregar Alumno</h2>
      </div>

      <div *ngIf="showErrorAlert || showSuccessAlert" class="divCover"></div>

      <app-error-alert class="alert" (cerrarButtonClick)="showErrorAlert = false"
        *ngIf="showErrorAlert"
        [esErrorAgregarAlumnoYaExistente]="esErrorAgregarAlumnoYaExistente">
      </app-error-alert>

      <app-success-alert class="alert" (cerrarButtonClick)="closeSuccessAlert()"
      *ngIf="showSuccessAlert"
      [esAgregarAlumnoExistenteAAula]="esAgregarAlumnoExistenteAAula"
      [esAgregarAlumnoNuevoAAula]="esAgregarAlumnoNuevoAAula">
      </app-success-alert>

      <br>
      <div id="radioButtonsContainer" class="radio-inputs">
        <div class="container">
          <div class="radio-tile-group">
            <div class="input-container" (click)="nuevoCheck()">
              <input id="nuevo" class="radio-button" type="radio" name="engine" [checked]="nuevoRadioButtonCheck" #radioButtonNuevo>
              <div class="radio-tile">
                <label for="nuevo" class="radio-tile-label">Nuevo</label>
              </div>
            </div>
            <div class="input-container" (click)="existenteCheck()">
              <input id="existente" class="radio-button" type="radio" name="engine" [checked]="existenteRadioButtonCheck" #radioButtonExistente>
              <div class="radio-tile">
                <label for="existente" class="radio-tile-label">Existente</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="existenteRadioButtonCheck" class="divAgregarAlumnoExistente">
        <label for="">Alumnos de Aula</label>
        <div class="dropdown">
          <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="showDropDownListAlumnos()">
            Seleccione el/los alumno(s)
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" #dropdownMenu>
            <ng-container *ngFor="let alumno of alumnosSinAula">
              <div class="divNombresContainer">
                <label class="check">{{alumno.apellido}}, {{alumno.nombre}}
                  <input type="checkbox" [value]="alumno.id" style="display: none;" class="inputCheck" (click)="alumnoCheck(alumno)">
                  <div class="divSVG">
                    <svg width="18px" height="18px" viewBox="0 0 18 18">
                      <path d="M1,9 L1,3.5 C1,2 2,1 3.5,1 L14.5,1 C16,1 17,2 17,3.5 L17,14.5 C17,16 16,17 14.5,17 L3.5,17 C2,17 1,16 1,14.5 L1,9 Z"></path>
                      <polyline points="1 9 7 14 15 4"></polyline>
                    </svg>
                  </div>
                </label>
              </div>
            </ng-container>
            <label *ngIf="alumnosSinAula.length == 0" for="">No hay Alumnos sin Aula asignada</label>
          </div>
        </div>
        <span id="alumnosDropdownError"></span>
      </div>
      <div *ngIf="nuevoRadioButtonCheck" class="divAgregarAlumnoNuevo">
        <label>Nombre</label>
        <input #nombreInput type="text" placeholder="Nombre de Alumno"  required/>
        <span id="nombreError"></span>
        <label>Apellido</label>
        <input #apellidoInput type="text" placeholder="Apellido de Alumno"  required/>
        <span id="apellidoError"></span>
        <label>DNI</label>
        <input type="number" #dniInput placeholder="DNI de Alumno" required/>
        <span id="DNIError"></span>
        <label>Fecha de Nacimiento</label>
        <input type="date" #fechaNacimientoInput placeholder="Fecha de Nacimiento de Alumno" required/>
        <span id="fechaNacimientoError"></span>
      </div>
    </div>

    <div  class="containerBottomButtons">
      <div  class="customButtons">
        <button (click)="cancelarClicked()" class="closeButton">
          Cancelar
        </button>
      </div>
      <div *ngIf="existenteRadioButtonCheck || nuevoRadioButtonCheck" class="divAddButton">
        <button class="btnSend" (click)="agregarClicked()">
          <span>
            Agregar
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
          </span>
          <span>
            Seguro?
          </span>
          <span>
            Enviado!
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><g stroke-width="0" id="SVGRepo_bgCarrier"></g><g stroke-linejoin="round" stroke-linecap="round" id="SVGRepo_tracerCarrier"></g><g id="SVGRepo_iconCarrier"> <path stroke-linecap="round" stroke-width="2" stroke="#ffffff" d="M8.00011 13L12.2278 16.3821C12.6557 16.7245 13.2794 16.6586 13.6264 16.2345L22.0001 6"></path> <path fill="#ffffff" d="M11.1892 12.2368L15.774 6.63327C16.1237 6.20582 16.0607 5.5758 15.6332 5.22607C15.2058 4.87635 14.5758 4.93935 14.226 5.36679L9.65273 10.9564L11.1892 12.2368ZM8.02292 16.1068L6.48641 14.8263L5.83309 15.6248L2.6 13.2C2.15817 12.8687 1.53137 12.9582 1.2 13.4C0.868627 13.8419 0.95817 14.4687 1.4 14.8L4.63309 17.2248C5.49047 17.8679 6.70234 17.7208 7.381 16.8913L8.02292 16.1068Z" clip-rule="evenodd" fill-rule="evenodd"></path> </g></svg>
          </span>
        </button>
      </div>
    </div>
  </form>
</div>
