<div class="overlay">
  <div class="popup fadeInDown">
    <div class="popupHeader">
      <div class="popupTitulo">
        <h2>Ausencias de {{hijo.apellido}}, {{hijo.nombre}} </h2>
        <div class="divMessage">
          <p class="pMessage">{{message}}</p>
        </div>
      </div>
    </div>

    <div class="divAgregarAusencia">
      <button class="icon-btn add-btn" title="Nueva ausencia" (click)="openAgregarAusenciaPopup = true">
        <div class="add-icon"></div>
        <div class="btn-txt">Agregar</div>
      </button>
    </div>

    <app-agregar-ausencia-popup class="agregarAusenciaPopup" *ngIf="openAgregarAusenciaPopup"
    (cancelButtonClick)="openAgregarAusenciaPopup = false"
    (agregarButtonClick)="handleAgregarClick($event)">
    </app-agregar-ausencia-popup>

    <app-datos-ausencia-popup *ngIf="openDatosAusenciaPopup"
    [ausencia]="ausencia"
    [idHijo]="idHijo"
    (cancelButtonClick)="handleCancelarClicked()"
    (deleteButtonClick)="handleDeleteClicked($event)"
    (editButtonClick)="handleEditClicked($event)">
    </app-datos-ausencia-popup>


    <app-success-alert class="alert" *ngIf="openSuccessAlert"
    (cerrarButtonClick)="aceptarClicked()"
    [esEditAusencia]="esEditAusencia"
    [esDeleteAusencia]="esDeleteAusencia"
    [esAgregarAusencia]="esAgregarAusencia">
    </app-success-alert>

    <app-error-alert class="alert" *ngIf="openErrorAlert"
    (cerrarButtonClick)="cerrarClicked()">
    </app-error-alert>

      <div #divContent class="container" >
          <button (click)="verAusencia(ausencia, hijo.id)" class="btnAusencia" *ngFor="let ausencia of ausencias" [ngStyle]="getBackgroundColor(ausencia)">
            <div class="divFechaComienzo">
              <p class="pFechaComienzo">{{ausencia.fechaComienzo.substring(0,10)}}</p>
            </div>
            <div class="divContainerData">
              <div class="divMotivoTitle">
                <label class="labelTitle" for="">Motivo: </label>
              </div>
              <div class="divMotivoData">
                <label class="labelData" for="">{{ausencia.motivo}}</label>
              </div>
            </div>
          </button>
      </div>

    <div class="popupCloseButton">
      <button class="close" (click)="cancelarClicked()">Cerrar</button>
    </div>
  </div>
</div>

