<div class="overlay">
  <div class="popup fadeInDown">
    <div class="popupHeader">
      <div class="popupTitulo">
        <h2>Ausencias de {{hijo.apellido}}, {{hijo.nombre}} </h2>
        <p>{{message}}</p>
      </div>
    </div>

    <app-datos-ausencia-popup *ngIf="openDatosAusenciaPopup"
    [ausencia]="ausencia"
    [idHijo]="idHijo"
    (cancelButtonClick)="handleCancelarClicked()"
    (deleteButtonClick)="handleDeleteClicked($event)"
    (editButtonClick)="handleEditClicked($event)">
    </app-datos-ausencia-popup>

      <div #divContent class="container" >
          <button (click)="verAusencia(ausencia, hijo.id)" class="btnAusencia" *ngFor="let ausencia of ausencias" [ngStyle]="getBackgroundColor(ausencia)">
            <div class="divFechaComienzo">
              <p class="pFechaComienzo">{{ausencia.fechaComienzo.substring(0,10)}}</p>
            </div>
            <div class="divContainerData">
              <div class="divMotivoTitle">
                <label class="labelTitle" for="">Motivo: </label>
              </div>
              <div class="divMotivoData">
                <label class="labelData" for="">{{ausencia.motivo}}</label>
              </div>
            </div>
          </button>
      </div>

    <div class="popupCloseButton">
      <button class="close" (click)="cancelarClicked()">Cerrar</button>
    </div>
  </div>
</div>

