.overlay{
  display: flex;
    justify-content: center;
}

.popup{
  display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    background-color: #28282b;
    height: -moz-fit-content;
    height: fit-content;
    position: absolute;
    z-index: 9999;
    border-radius: 18px;
    box-shadow: 3px 6px 6px 8px rgba(0, 0, 0, 0.2);
}

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  width: fit-content;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.alert{
  display: flex;
  justify-content: center;
}

.agregarAusenciaPopup{
  display: flex;
  justify-content: center;
}
.divCover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1d1d1d6b; /* Transparent black background */
  z-index: 999; /* Ensure the overlay is above other elements */
  backdrop-filter: blur(3px) brightness(1.04);
}
.popupHeader{
  display: flex;
  justify-content: center;
}

.popupTitulo h2{
  color: white;
  text-decoration-line: underline;
}

.divMessage p{
  display: flex;
  justify-content: center;
  text-decoration: none;
  margin-bottom: 30px;
}

.divAgregarAusencia{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: -18px;
}

.icon-btn {
  width: 50px;
  height: 50px;
  border: 1px solid #cdcdcd;
  background: white;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  transition: width 0.2s ease-in-out;
  font-weight: 500;
  font-family: inherit;
}

.add-btn:hover {
  width: 120px;
}

.add-btn::before,
.add-btn::after {
  transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
  content: "";
  position: absolute;
  height: 4px;
  width: 10px;
  top: calc(50% - 2px);
  background: seagreen;
}

.add-btn::after {
  right: 14px;
  overflow: hidden;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.add-btn::before {
  left: 14px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.icon-btn:focus {
  outline: none;
}

.btn-txt {
  opacity: 0;
  transition: opacity 0.2s;
}

.add-btn:hover::before,
.add-btn:hover::after {
  width: 6px;
  border-radius: 2px;
}

.add-btn:hover .btn-txt {
  opacity: 1;
}

.add-icon::after,
.add-icon::before {
  transition: all 0.2s ease-in-out;
  content: "";
  position: absolute;
  height: 20px;
  width: 2px;
  top: calc(50% - 10px);
  background: seagreen;
  overflow: hidden;
}

.add-icon::before {
  left: 22.4px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.add-icon::after {
  right: 22.4px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.add-btn:hover .add-icon::before {
  left: 15px;
  height: 4px;
  top: calc(50% - 2px);
}

.add-btn:hover .add-icon::after {
  right: 15px;
  height: 4px;
  top: calc(50% - 2px);
}

.divColorsReference{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-direction: row;
}

.labelJustificada{
  color: #0A7B30;
  font-weight: bold;
}

.labelNoJustificada{
  color: #9D140A;
  font-weight: bold;
}

.labelPendiente{
  color: rgb(100 100 100);
  font-weight: bold;
}

.container{
  display: flex;
  justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    width: 864px;
    overflow: scroll;
    max-height: 479px;
    overflow-x: hidden;
}


.divAusenciasHijo{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

.divAusenciasAlumno{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

.container::-webkit-scrollbar {
  width: 10px;
}

.container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 20px;
}

.container::-webkit-scrollbar-thumb {
  background: #888;
}

.container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.container .btnAusencia{
  width: max-content;
  transition: transform 0.3s ease;
  border-radius: 12px;
  width: fit-content;
  width: 400px;
  margin-bottom: 12px;
  margin-top: 10px;
  border: none;

}

.btnAusencia:hover{
  transform: scale(1.02);
}

.divFechaComienzo{
  display: flex;
  justify-content: center;
}

.divFechaData{
  display: flex;
  width: 38%;
  justify-content: space-evenly;
}

.svgCalendarIcon{
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  width: 20px;
  height: 20px;
}

.pFechaComienzo{
  font-size: 22px;
  font-weight: 500;
  color: black;
  margin-bottom: 0px;
}

.divContainerData{
  display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.divMotivoTitle{
  display: flex;
  justify-content: center;
}
/*
.divData{
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
    margin-right: 10px;
} */

.labelTitle{
  text-decoration-line: underline;
  font-size: 22px;
  font-weight: 500;
}

.labelData{
  font-size: 22px;
}
.popupCloseButton{
  display: flex;
  justify-content: center;
  margin-bottom: 14px;
  margin-top: 20px;
}

.close-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
  margin-right: 18px;
}

.close-svgIcon {
  width: 15px;
  transition-duration: 0.3s;
}

.close-svgIcon path {
  fill: white;
}

.close-button:hover {
  width: 90px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgb(200, 22, 22);
  align-items: center;
}

.close-button:hover .close-svgIcon {
  width: 20px;
  transition-duration: 0.3s;
  transform: translateY(60%);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.close-button::before {
  display: none;
  content: "Cerrar";
  color: white;
  transition-duration: 0.3s;
  font-size: 2px;
}

.close-button:hover::before {
  display: block;
  padding-right: 10px;
  font-size: 13px;
  opacity: 1;
  transform: translateY(0px);
  transition-duration: 0.3s;
}
