<div class="alertBody fadeInDown">
  <div class="modal-content">
    <div class="icon-box">
      <img src="https://icon-library.com/images/info-icon-png-transparent/info-icon-png-transparent-25.jpg" alt="">
    </div>
  </div>
  <div class="alertTextContainer">
    <div class="text-center">
      <h4>AVISO</h4>
      <p>La nota ha sido marcada como leida.</p>
      <p>Le notificaremos al emisor que usted ha leido su nota.</p>
    </div>
    <div class="divCloseButton">
      <button type="button" (click)="aceptarClicked()" class="closeButton" data-dismiss="modal" aria-hidden="true">Aceptar</button>
    </div>
  </div>
</div>
