.alertBody{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 525px;
  height: 200px;
  position: absolute;
  z-index: 9999;
}

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


.container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.modal-content{
  display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: yellow;
    border-radius: 12px;
    box-shadow: 3px 6px 8px rgba(0, 0, 0, 0.2);
}

img{
  width: 113px;
}

.alertTextContainer{
  width: 100%;
  background-color: #e9e9e9;
  height: 87px;
  height: fit-content;
  border-radius: 12px;
  box-shadow: 3px 6px 6px 8px rgba(0, 0, 0, 0.2);
}

.text-center{
  color: black;
  margin-top: 12px;
  font-family: 'Noto Sans Chorasmian', sans-serif;
}

.pTexto{
  margin-left: 5px;
    margin-right: 5px;
}

.divCloseButton{
  display: flex;
  justify-content: center;
  margin-bottom: 13px;
}
.closeButton{
  transition: all 200ms;
    font-size: 30px;
    text-decoration: none;
    text-decoration-line: none;
    background: none;
    border: 4px solid darkgreen;
    border-radius: 28px;
}

.closeButton:hover{
  background-color: darkgreen;
    color: white;
}
