<div class="alertBody fadeInDown">
  <div class="container">
    <div class="modal-content">
      <div class="icon-box">
        <img src="https://icon-library.com/images/info-icon-png-transparent/info-icon-png-transparent-25.jpg" alt="">
      </div>
    </div>
    <div class="alertTextContainer">
      <div class="text-center">
        <h4>AVISO</h4>
        <p *ngIf="!logueoFueraDeHorario">La nota ha sido marcada como leida.</p>
        <p *ngIf="!logueoFueraDeHorario">Le notificaremos al emisor que usted ha leido su nota.</p>
        <p *ngIf="logueoFueraDeHorario">Fuera de horario!</p>
        <p class="pTexto" *ngIf="logueoFueraDeHorario">Señor/a {{username}}, el rango horario para recibir respuestas de parte de los Docentes y/o Directivos es de 8:00 AM hasta 16:00 PM. Si necesita comunicar una ausencia o enviar una nota, se le respondera lo antes posible dentro del horario
          estipulado.
        </p>
        <p>Gracias!</p>
      </div>
      <div class="divCloseButton">
        <button type="button" (click)="aceptarClicked()" class="closeButton" data-dismiss="modal" aria-hidden="true">Aceptar</button>
      </div>
    </div>
  </div>
</div>
