.overlay{
  display: flex;
    justify-content: center;
}

.popup{
  display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    background-color: #468584;
    height: fit-content;
    min-width: 326px;
    border-radius: 18px;
    box-shadow: 3px 6px 6px 8px rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: 9999;
    width: fit-content;
}

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}



@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.popupHeader{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.popupTitulo{
  flex-direction: column;
  text-align: center;
  display: flex;
   justify-content: center;
}

.h2Ausencia{
  color: black;
  text-decoration-line: underline;
}

.divPInfo{
  text-align: center;
  max-width: 302px;
}

.gFill{
  fill: rgb(224, 224, 16);
}

.pAusenciaGenericaInfo{
  color: rgb(224, 224, 16);
  font-size: smaller;
}

.content{
  display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: 16px;
    margin-left: 16px;
}

.divConInput{
  display: flex;
  flex-direction: column;
}


.campos{
  margin-right: 10px;
  text-decoration-line: underline;
  font-size: 22px;
  font-weight: 500;
}

.divLabelJustificada{
  display: flex;
}
.labelEstadoJustificacion{
  margin-top: 6px;
}
.divActionButtons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 18px;
}
.popupCloseButton{
  display: flex;
  justify-content: center;
  margin-bottom: 14px;
}

.close{
    transition: all 200ms;
    font-size: 30px;
    text-decoration: none;
    color: white;
    text-decoration-line: none;
    background: none;
    border: 2px solid red;
    border-radius: 20px;
}

.close:hover{
  background-color: red;
  color: white;
}

input[type=text],input[type=date], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: white;
  background-color: #2a2a2a;
}

.close-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
  margin-right: 18px;
}

.close-svgIcon {
  width: 15px;
  transition-duration: 0.3s;
}

.close-svgIcon path {
  fill: white;
}

.close-button:hover {
  width: 90px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgb(200, 22, 22);
  align-items: center;
}

.close-button:hover .close-svgIcon {
  width: 20px;
  transition-duration: 0.3s;
  transform: translateY(60%);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.close-button::before {
  display: none;
  content: "Cerrar";
  color: white;
  transition-duration: 0.3s;
  font-size: 2px;
}

.close-button:hover::before {
  display: block;
  padding-right: 10px;
  font-size: 13px;
  opacity: 1;
  transform: translateY(0px);
  transition-duration: 0.3s;
}
.delete-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
  margin-right: 18px;
}

.delete-svgIcon {
  width: 15px;
  transition-duration: 0.3s;
}

.delete-svgIcon path {
  fill: white;
}

.delete-button:hover {
  width: 90px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgb(200, 22, 22);
  align-items: center;
}

.delete-button:hover .delete-svgIcon {
  width: 20px;
  transition-duration: 0.3s;
  transform: translateY(60%);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.delete-button::before {
  display: none;
  content: "Eliminar";
  color: white;
  transition-duration: 0.3s;
  font-size: 2px;
}

.delete-button:hover::before {
  display: block;
  padding-right: 10px;
  font-size: 13px;
  opacity: 1;
  transform: translateY(0px);
  transition-duration: 0.3s;
}
.edit-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
  text-decoration: none !important;
}

.edit-svgIcon {
  width: 17px;
  transition-duration: 0.3s;
}

.edit-svgIcon path {
  fill: white;
}

.edit-button:hover {
  width: 120px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgb(220, 220, 47);
  align-items: center;
}

.edit-button:hover .edit-svgIcon {
  width: 20px;
  transition-duration: 0.3s;
  transform: translateY(60%);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.edit-button::before {
  display: none;
  content: "Editar";
  color: white;
  transition-duration: 0.3s;
  font-size: 2px;
}

.edit-button:hover::before {
  display: block;
  padding-right: 10px;
  font-size: 13px;
  opacity: 1;
  transform: translateY(0px);
  transition-duration: 0.3s;
}
