h1 {
    display: flex;
    justify-content: center;
    font-family: Chalk, sans-serif;
    font-size: 50px;
    
    margin-bottom: 40px;
  }

  h3{
    font-size: x-large;
    font-family: Chalk, sans-serif;
  }


.divChartsContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.chart-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #1b9aaa69;
    border-radius: 12px;
    width: 45%;
    margin-top: 25px;
}