<div class="alertBody fadeInDown">
  <div class="modal-content">
    <div class="icon-box">
      <img src="https://icons-for-free.com/iconfiles/png/512/complete+done+green+success+valid+icon-1320183462969251652.png" alt="">
    </div>

  </div>
  <div class="alertTextContainer">
    <div class="text-center">
      <h4>Excelente!</h4>
      <p *ngIf="esModification">Nota modificada con exito!</p>
      <p *ngIf="esDeletion">Nota eliminada con exito!</p>
      <p *ngIf="esResset">Clave modificada con exito!</p>
      <p *ngIf="esResset">Al hacer click en 'Aceptar' se cerrara tu sesion y deberas loguearte nuevamente con la nueva clave.</p>
      <p *ngIf="esRecover">Clave recuperada con exito!</p>
      <p *ngIf="esRecover">Ya puedes iniciar sesion con tu nueva clave.</p>
      <p *ngIf="esEditAusencia">Ausencia modificada con exito!</p>
      <p *ngIf="esDeleteAusencia">Ausencia eliminada con exito!</p>
      <p *ngIf="esAgregarAusencia">Ausencia agregada con exito!</p>
      <p *ngIf="esAgregarAusenciaGenerica">Ausencia generica agregada con exito!</p>
      <p *ngIf="esFirmaHistorial">Historial firmado con exito!</p>
      <p *ngIf="esEnvioNotaDocente">Nota enviada al docente con exito!</p>
      <p *ngIf="esAceptarAusenciaAlumno">Ausencia aceptada con exito!</p>
      <p *ngIf="esDenegarAusenciaAlumno">Ausencia denegada con exito!</p>
      <p *ngIf="esEliminarHistorial">Historial eliminado con exito!</p>
      <p *ngIf="esEditarHistorial">Historial modificado con exito!</p>
      <div class="divCloseButton">
        <button type="button" (click)="cerrarClicked()" class="closeButton" data-dismiss="modal" aria-hidden="true">Aceptar</button>
      </div>
    </div>
  </div>
</div>
