<div class="overlay">
  <div class="popup fadeInDown">
    <div class="popupHeader">
      <div class="popupTitulo">
        <h2 *ngIf="nota">Personas en Nota</h2>
        <h2 *ngIf="evento">Asistencia para Evento</h2>
        <h3 *ngIf="nota">{{nota.titulo}}</h3>
        <h3 *ngIf="evento">{{evento.meta.eventDetails.motivo}} - {{ evento.meta.eventDetails.fecha | date: 'dd/MM/yyyy' }}</h3>
      </div>
    </div>

    <div class="content">
      <div class="divLeidaPor">
        <h5 *ngIf="nota">Leida por:</h5>
        <h5 *ngIf="evento">No asistiran:</h5>
        <ng-container *ngIf="nota">
          <label class="labelLeida" *ngFor="let persona of nota.leidaPor" for="">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-6 h-6 svgPersonIcon">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
            </svg>
            {{persona.apellido}}, {{persona.nombre}}
          </label>
        </ng-container>
        <ng-container *ngIf="evento">
          <label class="labelNoAsistiran" *ngFor="let persona of evento.meta.eventDetails.noAsistiran" for="">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-6 h-6 svgPersonIcon">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
            </svg>
            {{persona.apellido}}, {{persona.nombre}}
            <span *ngIf="persona.id == evento.meta.eventDetails.aulaDestinada.docente.id">(Docente)</span>
            <span *ngIf="persona.id !== evento.meta.eventDetails.aulaDestinada.docente.id && persona.id !== evento.meta.eventDetails.creador.id">(Padre)</span>
          </label>
        </ng-container>
      </div>
      <div class="divDestinatarios">
        <h5 *ngIf="nota">Destinatarios</h5>
        <h5 *ngIf="evento">Tal vez asistan:</h5>
        <ng-container *ngIf="nota">
          <label class="labelDestinatarios" *ngFor="let persona of nota.destinatarios" for="">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-6 h-6 svgPersonIcon">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
            </svg>
            {{persona.apellido}}, {{persona.nombre}}
          </label>
        </ng-container>
        <ng-container *ngIf="evento">
          <label class="labelTalVezAsistan" *ngFor="let persona of evento.meta.eventDetails.talVezAsistan" for="">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-6 h-6 svgPersonIcon">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
            </svg>
            {{persona.apellido}}, {{persona.nombre}}
            <span *ngIf="persona.id == evento.meta.eventDetails.aulaDestinada.docente.id">(Docente)</span>
            <span *ngIf="persona.id !== evento.meta.eventDetails.aulaDestinada.docente.id && persona.id !== evento.meta.eventDetails.creador.id">(Padre)</span>
          </label>
        </ng-container>
      </div>
      <div class="divFirmadaPor">
        <h5 *ngIf="nota">Firmada por:</h5>
        <h5 *ngIf="evento">Asistiran:</h5>
        <ng-container *ngIf="nota">
          <label class="labelFirmada" *ngFor="let persona of nota.firmadaPor" for="">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-6 h-6 svgPersonIcon">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
            </svg>
            {{persona.apellido}}, {{persona.nombre}}
          </label>
        </ng-container>
        <ng-container *ngIf="evento">
          <label class="labelAsistiran" *ngFor="let persona of evento.meta.eventDetails.asistiran" for="">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-6 h-6 svgPersonIcon">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
            </svg>
            {{persona.apellido}}, {{persona.nombre}}
            <span *ngIf="persona.id == evento.meta.eventDetails.aulaDestinada.docente.id">(Docente)</span>
            <span *ngIf="persona.id !== evento.meta.eventDetails.aulaDestinada.docente.id && persona.id == evento.meta.eventDetails.creador.id">(Directivo)</span>
            <span *ngIf="persona.id !== evento.meta.eventDetails.aulaDestinada.docente.id && persona.id !== evento.meta.eventDetails.creador.id">(Padre)</span>
          </label>
        </ng-container>
      </div>
    </div>
    <div class="popupCloseButton">
      <button class="closeButton" title="Cerrar" (click)="cancelarClicked()">
        X
      </button>
    </div>
  </div>
</div>