<div class="popupConfirmContainer">
  <div class="popup fadeInDown">
    <div class="divIcon">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 svgWarningIcon">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z" />
      </svg>
    </div>
    <div class="divCargarAsistencia">
      <h2>Cargar Asistencia</h2>
      <div class="content">
        <label class="labelPregunta" for="">Seguro que desea cargar la asistencia?</label>
        <label class="labelInfo" for="">La misma no podra ser eliminada ni modificada una vez cargada en el sistema</label>
      </div>
    </div>

    <div class="container">
      <div class="customButtons">
        <button class="buttonCargaAsistencia btnCancelar" (click)="cancelarClicked()">
          Cancelar
        </button>
        <button class="buttonCargaAsistencia btnCargar" (click)="cargarClicked()">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 01-1.043 3.296 3.745 3.745 0 01-3.296 1.043A3.745 3.745 0 0112 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 01-3.296-1.043 3.745 3.745 0 01-1.043-3.296A3.745 3.745 0 013 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 011.043-3.296 3.746 3.746 0 013.296-1.043A3.746 3.746 0 0112 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 013.296 1.043 3.746 3.746 0 011.043 3.296A3.745 3.745 0 0121 12z" />
          </svg>
          Cargar
        </button>
      </div>
    </div>
  </div>
</div>

