.popup {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation-name: _ngcontent-awe-c49_fadeInDown;
  animation-duration: 1s;
  animation-fill-mode: both;
  width: -webkit-fill-available;
  position: absolute;
  top: 0;
  z-index: 9999;
}




/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.closeButtonHeader {
  display: flex;
  justify-content: flex-end;
  margin-top: -28px;
  margin-left: 530px;
}
.close[_ngcontent-lkn-c53] {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}
.titleHeader {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  text-align: center;
  font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
}


.divPInfo{
  text-align: center;
  max-width: 100%;
}

.gFill{
  fill: rgb(224, 224, 16);
}

.pAusenciaGenericaInfo{
  color: rgb(224, 224, 16);
  font-size: inherit;
}

h2{
  color: white;
  text-align: center;
  font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
}

p{
  font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
}
a {
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

form {
  flex-direction: column;
  background-color: #28282b;
  border-radius: 18px;
  box-shadow: 3px 6px 6px 8px rgba(0, 0, 0, 0.2);
}

h3 {
  font-size: 24px;
  font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
  display: flex;
  justify-content: center;
  text-align: center;
}
.formContent {
  display: flex;
  flex-direction: column;
  margin: 4%;
}

.container {
  background-color: #28282b;
  margin-top: 26px;
  margin-bottom: 13px;
  display: flex;
  justify-content: space-evenly;
}
.customButtons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.cancelarButton{
  border-radius: 16px;
  font-size: 17px;
    padding: 16px;
    width: 130px;
    margin: 5px;
    background-color: transparent;
}
.cancelarButton:hover{
    background-color: red;
}

.btnAdd {
  display: inline-block;
  border-radius: 4px;
  background-color: #18638f;
  border: none;
  border-radius: 10px;
  color: #FFFFFF;
  text-align: center;
  font-size: 17px;
  padding: 16px;
  width: 130px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
 }

 .btnAdd span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
 }

 .btnAdd span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
 }

 .btnAdd:hover span {
  padding-right: 15px;
 }

 .btnAdd:hover span:after {
  opacity: 1;
  right: 0;
 }

input[type=text], input[type=date]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  color: white;
  background-color: #2a2a2a;
}

.divFiles{
  display: flex;
    justify-content: space-between;
}

.Btn {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: rgb(27, 27, 27);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.11);
}

.svgIcon {
  fill:white;
}

.Btn:hover {
  background-color: white;
  transition-duration: .3s;
}


.Btn:hover .svgIcon {
  fill: black;
  animation: slide-in-top 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.divContainerFilesNames{
  margin-top: 10px;
}
.divFilesNames{
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}

.BtnDeleteFile{
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 50%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.11);
}

.BtnDeleteFile:hover {
  background-color:  rgb(202, 44, 44);
  transition-duration: .3s;
}

.BtnDeleteFile .svgIcon{
  fill: rgb(27, 27, 27);
}

.BtnDeleteFile:hover .svgIcon {
  fill: white;
  animation: slide-in-top 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.button {
  height: 50px;
  width: 150px;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid #252525;
  overflow: hidden;
  border-radius: 30px;
  color: #333;
  transition: all 0.5s ease-in-out;
}

.btn-txt {
  z-index: 1;
  font-weight: 800;
  letter-spacing: 4px;
}

.type1::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.5s ease-in-out;
  background-color: #333;
  border-radius: 30px;
  visibility: hidden;
  height: 10px;
  width: 10px;
  z-index: -1;
}

.button:hover {
  box-shadow: 1px 1px 200px #252525;
  color: #fff;
  border: none;
}

.type1:hover::after {
  visibility: visible;
  transform: scale(100) translateX(2px);
}


@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}

#myTextarea{
  position: relative;
  z-index: 1000;
}

