<!--POPUP EDITAR-->
<div class="popup fadeInDown">
  <form>
    <div class="formContent">
      <div class="titleHeader">
        <h2>Editar evento</h2>
        <span id="gralError"></span>
      </div>
      <br>
      <div *ngIf="showWeatherResultPopup || showErrorAlert" class="divCover"></div>
      <app-dato-clima-popup class="datoClimaPopup" *ngIf="showWeatherResultPopup" [weatherData]="weatherData"
        (cancelButtonClick)="showWeatherResultPopup = false">
      </app-dato-clima-popup>

      <app-error-alert class="alert" *ngIf="showErrorAlert" (cerrarButtonClick)="showErrorAlert = false"
        [esErrorDatoClima]="true">
      </app-error-alert>

      <label>Fecha:</label>
      <input #fechaInput type="date" value={{evento.meta.eventDetails.fecha}} [(ngModel)]="fechaEvento" name="fechaEvento" required />
      <span id="fechaError"></span>
      <label>Localidad</label>
      <input #localidadInput type="text" value={{evento.meta.eventDetails.localidad}} [(ngModel)]="localidadEvento" name="localidadEvento"
        required (blur)="checkWeather()"/>
      <span id="localidadError"></span>
      <label>Motivo</label>
      <input #motivoInput type="text" value={{evento.meta.eventDetails.motivo}} [(ngModel)]="motivoEvento" name="motivoEvento" required />
      <span id="motivoError"></span>
      <label>Descripcion</label>
      <input #descripcionInput type="text" value={{evento.meta.eventDetails.descripcion}} [(ngModel)]="descripcionEvento"
        name="descripcionEvento" required />
      <span id="descripcionError"></span>
      <div class="divAulaDestinada" id="divAulaDestinada" #divAulaDestinada>
        <label>Aula Invitada</label>
        <select name="" id="" (change)="handleAulaSeleccionada($event)" #selectAulas required>
          <option #aulaInput value="0">Seleccione un Aula</option>
          <option #aulaInput *ngFor="let aula of aulas" [selected]="aula.id === aulaEvento" [value]="aula.id">
            {{aula.nombre}}
          </option>
        </select>
        <span id="aulaError"></span>
      </div>
    </div>

    <div class="container">
      <div class="customButtons">
        <button (click)="cancelarClicked()" class="closeButton">
          Cancelar
        </button>
      </div>
      <div class="divAddButton">
        <button class="btnSend" (click)="editarClicked()">
          <span>
            Editar
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
          </span>
          <span>
            Seguro?
          </span>
          <span>
            Editado!
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
              <g stroke-width="0" id="SVGRepo_bgCarrier"></g>
              <g stroke-linejoin="round" stroke-linecap="round" id="SVGRepo_tracerCarrier"></g>
              <g id="SVGRepo_iconCarrier">
                <path stroke-linecap="round" stroke-width="2" stroke="#ffffff"
                  d="M8.00011 13L12.2278 16.3821C12.6557 16.7245 13.2794 16.6586 13.6264 16.2345L22.0001 6">
                </path>
                <path fill="#ffffff"
                  d="M11.1892 12.2368L15.774 6.63327C16.1237 6.20582 16.0607 5.5758 15.6332 5.22607C15.2058 4.87635 14.5758 4.93935 14.226 5.36679L9.65273 10.9564L11.1892 12.2368ZM8.02292 16.1068L6.48641 14.8263L5.83309 15.6248L2.6 13.2C2.15817 12.8687 1.53137 12.9582 1.2 13.4C0.868627 13.8419 0.95817 14.4687 1.4 14.8L4.63309 17.2248C5.49047 17.8679 6.70234 17.7208 7.381 16.8913L8.02292 16.1068Z"
                  clip-rule="evenodd" fill-rule="evenodd"></path>
              </g>
            </svg>
          </span>
        </button>
      </div>
    </div>
  </form>
</div>