<div class="overlay">
    <div class="popup fadeInDown">
      <div class="popupHeader">
        <div class="popupTitulo">
          <h2>Roles de {{user.username}}</h2>
        </div>
      </div>
  
      <div class="content">
        <div class="divRoles">          
          <label class="labelRoles" *ngFor="let rol of roles" for="">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 checkIcon">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>              
            {{rol.tipo}}
          </label>
          <label for="" *ngIf="roles.length === 0">Por el momento, el Usuario no posee Rol(es) asignado(s)</label>
        </div>        
      </div>
      <div class="popupCloseButton">
        <button class="btnCancelar" (click)="cancelarClicked()">
          Cancelar
        </button>
      </div>
    </div>
  </div>
  