<div class="overlay">
  <div class="popup fadeInDown">
    <h2 *ngIf="esTipo">Tipos de nota</h2>
    <h2 *ngIf="!esTipo && !esVariosRoles">Aula Destinada</h2>
    <h2 *ngIf="esVariosRoles">Enviar Nota como...</h2>
    <div class="content">
      <h3 *ngIf="esTipo">Particular</h3>
      <p *ngIf="esTipo">Cuando se selecciona este tipo de nota, se comunica algo sobre un alumno/hijo especifico: Alumno Referido. Al tener un Alumno referido en la Nota,
        el sistema ya sabe cual sera el Aula destinada.
      </p>
      <h3 *ngIf="!esTipo && !esVariosRoles">Con aula destinada</h3>
      <p *ngIf="!esTipo && !esVariosRoles">Cuando se selecciona esta opcion, la nota es enviada al Aula deseada, es decir, el sistema automaticamente envia la nota a los Destinatarios
        correspondientes. Los destinatarios varian acorde a si la nota esta siendo enviada por un Padre, un Docente o un Directivo.
      </p>
      <p *ngIf="esVariosRoles">El sistema ha detectado que su usuario tiene asignado mas de un Rol. Esto puede ocurrir cuando un mismo Usuario actua como Padre y Docente, o
        como Padre y Directivo a la vez. Debe seleccionar la opcion correspondiente acorde a como desea actuar. Ejemplo, si quiere enviar una Nota Particular sobre uno de sus hijos,
        o enviar una Nota generica al personal de la institucion, seleccione la opcion 'Padre'. Si en cambio desea enviar una Nota generica a alguna de las aulas que Ud. tiene a cargo,
        seleccione Docente (en caso de tener ese Rol asignado). Sino, seleccione 'Directivo'.
      </p>

      <br>

      <h3 *ngIf="esTipo">Generica</h3>
      <p *ngIf="esTipo">Cuando se selecciona este tipo de nota, se comunica algo generico, que puede o no estar directamente relacionado a un Alumno.</p>
      <h3 *ngIf="!esTipo && !esVariosRoles">Sin aula destinada</h3>
      <p *ngIf="!esTipo && !esVariosRoles">Cuando se selecciona esta opcion, la nota no es enviada a un Aula determinada, sino que es el Emisor quien debe elegir a que Destinatarios
        correspondientes se debe enviar la nota. Los destinatarios disponibles para su eleccion varian acorde a si la nota esta siendo enviada por un Padre, un Docente o un Directivo.</p>
    </div>
    <div class="popupCloseButton">
      <button class="close-button" title="Cerrar" (click)="cerrarClick()">
        <svg class="close-svgIcon" viewBox="0 0 362 362">
          <path d="M 90.998 91.502 L 72.515 110.005 107.502 145.002 L 142.489 180.000 107.742 214.758 L 72.995 249.515 91.500 268.000 L 110.005 286.485 144.765 251.735 L 179.524 216.986 214.260 251.774 L 248.996 286.562 267.770 267.788 L 286.545 249.014 251.522 214.257 L 216.500 179.500 251.500 144.761 L 286.500 110.022 268.008 91.509 L 249.515 72.995 214.758 107.742 L 180.000 142.489 145.245 107.745 C 126.129 88.635 110.262 73.000 109.985 73.000 C 109.707 73.000 101.163 81.326 90.998 91.502 "></path>
        </svg>
        </button>
    </div>
  </div>
</div>
