.alert{
  display: flex;
  justify-content: center;
}

.cover {
  margin-top: 226px;
}
.customDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


.divBtnsContainer{
  width: 40%;
  display: flex;
  justify-content: space-evenly;
}

.divCover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1d1d1d6b; /* Transparent black background */
  z-index: 999; /* Ensure the overlay is above other elements */
  backdrop-filter: blur(3px) brightness(1.04);
}

.btnGeneral {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #83b0aa1f;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.buttonEmitidas:hover {
  background-color: #E9D44B;
  box-shadow: 0px 15px 20px rgba(181, 201, 8, 0.505);
  color: #fff;
  transform: translateY(-7px);
}

.buttonRecibidas:hover {
  background-color: rgb(33, 196, 84);
  box-shadow: 0px 15px 20px rgba(8, 130, 8, 0.505);
  color: #fff;
  transform: translateY(-7px);
}

h1 {
  font-family: Chalk, sans-serif;
  font-size:60px;
  text-shadow: black;
}
.pSubtitle{
  font-weight: 500;
  font-size: xx-large;
  font-family: Chalk, sans-serif;
  text-shadow: black;
}

.divContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.divBtnContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #6BAB90;
  border-radius: 20px;
  width: 15%;
  height: 186px;
  transition: transform 0.3s ease;
}

.divBtnContainer:hover{
  transform: scale(1.03);
}

.btnOption{
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  color: white;
}

.btnOption:hover {
  background-color: #25e293;
  box-shadow: 0px 15px 20px #2741568e;
  color: #fff;
  transform: translateY(-7px);
}

.personIcon{
  display: flex;
  justify-content: center;
  height: 40px;
  fill: currentColor;  
}

.pSubtitleOptions{
  font-weight: 500;
    font-size: larger;
    font-family: Chalk, sans-serif;
    text-shadow: black;
    margin-left: 10px;
}

.divBackup{
  display: flex;
  justify-content: space-evenly;
  margin-top: 60px;
}

.divBackupContainer{
  background-color: #6BAB90;
  width: 26%;  
  border-radius: 14px;
}

.btnBackup {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #0b8c7b62;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin-bottom: 10px;
}
.backupIcon{
  width: 34px;
  height: 34px;
}
