<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <main *ngFor="let grupo of groups" role="main" class="inner cover">
    <div class="customDiv" *ngIf="grupo.tipo == 'UserRegular'">
      <h1 class="cover-heading">¡Gestiona tus Notas {{username}}!</h1>
      <p class="lead pSubtitle">Puedes comenzar gestionando tus notas haciendo click en las siguientes opciones:</p>
      <!-- <p class="lead">
        <button (click)="NotasEmitidas()" class="buttonEmitidas">
          Notas Emitidas
        </button>

        <button  (click)="NotasRecibidas()" class="buttonRecibidas">
          Notas Recibidas
        </button>
      </p> -->
      <div class="divBtnsContainer">
        <button (click)="NotasEmitidas()" class=" btnNotas buttonEmitidas">
          Notas Emitidas
        </button>
        <button (click)="NotasRecibidas()" class=" btnNotas buttonRecibidas">
          Notas Recibidas
        </button>
      </div>
    </div>
    <div *ngIf="grupo.tipo == 'Admin'">
      <h1 class="cover-heading">Puede gestionar el area que desee, {{username}}!</h1>
      <p class="lead">Puedes comenzar la gestion haciendo click en las siguientes opciones:</p>
      <p class="lead">
        <button *ngIf="grupo.tipo == 'Admin'" class="btn btn-outline" href="#">Personas</button>
        <button *ngIf="grupo.tipo == 'Admin'" class="btn btn-outline" href="#">Usuarios</button>
        <button *ngIf="grupo.tipo == 'Admin'" class="btn btn-outline" href="#">Grupos</button>
        <button *ngIf="grupo.tipo == 'Admin'" class="btn btn-outline" href="#">Acciones</button>
        <button *ngIf="grupo.tipo == 'Admin'" class="btn btn-outline" href="#">Aulas</button>
        <button *ngIf="grupo.tipo == 'Admin'" class="btn btn-outline" href="#">Instituciones</button>
      </p>
    </div>
  </main>
