h1 {
  display: flex;
  justify-content: center;
  font-family: Chalk, sans-serif;
  font-size: 50px;

}

.divMessage .pMessage {
  display: flex;
  justify-content: center;
  font-family: Chalk, sans-serif;
  font-size: x-large;
}

.divTomarAsistencia {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.buttonTomarAsistencia {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.buttonTomarAsistencia:hover {
  background-color: #159098;
  box-shadow: 0px 15px 20px rgba(7, 218, 218, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.buttonTomarAsistencia:active {
  transform: translateY(-1px);
}

.divCover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1d1d1d6b;
  /* Transparent black background */
  z-index: 999;
  /* Ensure the overlay is above other elements */
  backdrop-filter: blur(3px) brightness(1.04);
}

.svgPersonIcon {
  width: 18px;
  height: 18px;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: fit-content;
  align-content: center;
}

.divContainerAsistencia {
  background-color: #28282bbd;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  border-radius: 14px;
  height: fit-content;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}

.divContainerAsistencia:hover {
  transform: scale(1.04);

}

.pNombre {
  display: flex;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif, 'Times New Roman', Times, serif;
  font-weight: bold;
  text-decoration-line: underline;
}

.divContainerInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.divInfoAsistencia {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
}

.divFechaAsistencia {
  display: flex;
  flex-direction: column;
  width: 145px;
}

.labelTitle {
  text-decoration-line: underline;
  font-size: 22px;
  font-weight: 500;
}

.divFechaData {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.svgCalendarIcon {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  width: 20px;
  height: 20px;
}

.labelData {
  font-size: 22px;
}

.divPresentes {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.divAusentes {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.btnInfo {
  width: 6.5em;
  height: 2.3em;
  margin: 0.5em;
  background: black;
  color: white;
  border: none;
  border-radius: 0.625em;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.btnInfo:hover {
  color: black;
}

.btnInfo:after {
  content: "";
  background: white;
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
}

.btnInfo:hover:after {
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 16px;
  height: 24px;
}

.paginationBtn {
  background-color: transparent;
  border: none;
  border-radius: 100%;
  color: white;
}

.paginationBtn:hover {
  background-color: #23a9da90;
  color: white;
}

.svgArrowIcon {
  height: 20px;
  width: 20px;
  display: flex;
}

.currentPageBtn {
  border-radius: 100%;
  height: fit-content;
  background-color: transparent;
  border: none;
  color: white;
}

.current-page {
  background-color: #23a9da;
  color: #fff;
}

.currentPageBtn:hover {
  background-color: #23a9da;
  color: white;
}

.goBackComp {
  display: flex;
  justify-content: center;
}

.filterInputsContainer {
  display: flex;
  justify-content: center;
}

.filterInputs {
  display: flex;
  justify-content: space-evenly;
  width: fit-content;
  margin-bottom: 20px;
}

select option {
  background-color: #323539;
  color: white;
}

.search-panels {
  --default-color: white;
  --color-text: white;
  --color-active: #395756;
  --color-active-input: white;
  --transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
  --width-input: 200px;
}

.search-group {
  position: relative;
}

.input {
  width: var(--width-input);
  border: solid 1.5px var(--default-color);
  border-radius: 80px;
  background: none;
  padding: 1rem;
  padding-right: 3rem;
  font-size: 1rem;
  color: var(--color-active-input);
  transition: border var(--transition);
}

.enter-label {
  position: absolute;
  left: 15px;
  color: var(--default-color);
  pointer-events: none;
  transform: translateY(1rem);
  transition: var(--transition);

}

.enter-label {
  color: white;
  pointer-events: none;
}

input[type=date]:required:invalid::-webkit-datetime-edit {
  color: transparent;
}

input[type=date]:focus::-webkit-datetime-edit {
  color: black !important;
}

.input:focus,
input:valid {
  outline: none;
  border: 1.5px solid var(--color-active);
}

.input:focus~label,
input:valid~label {
  transform: translateY(-50%) scale(0.8);
  background-color: var(--color-active);
  border-radius: 20px;
  padding: .2em .6em;
  color: var(--color-text);
  font-size: large;
  font-weight: bold;
}

.btn-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -1em;
  right: 80%;
  border-radius: 100%;
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 100ms;
  opacity: 0;
}

.input:focus~.btn-box,
input:valid~.btn-box {
  right: 10%;
  opacity: 1;
  transition-delay: 0s;
  transition: var(--transition);
}

.input:not(:focus)~.btn-box,
input:not(:valid)~.btn-box {
  transition-property: right, opacity;
  transition-delay: 300ms;
}

.input:focus~.btn-box:hover,
input:valid~.btn-box:hover {
  transform: scale(1.2);
}

.input:focus~.btn-box:hover:active,
input:valid~.btn-box:hover:active {
  transform: scale(1);
}


#svg-circle {
  fill: var(--color-text);
  transition: var(--transition);
}

.input:focus~.btn-box:hover #svg-circle,
input:valid~.btn-box:hover #svg-circle {
  fill: transparent;
}

.btn-box-x {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 1em;
  right: 7%;
  opacity: 0;
  transform: rotate(-90deg) scale(.1);
  transition: var(--transition);
}

.input:focus~.btn-box-x,
input:valid~.btn-box-x {
  opacity: 1;
  transform: rotate(0) scale(1);
}

.btn-cleare {
  position: relative;
  cursor: pointer;
  background-color: transparent;
  width: 2em;
  height: 2em;
  border: none;
  border-radius: 100%;
  padding: 0;
  transition: var(--transition);
}

.btn-cleare svg {
  width: 15px;
  height: 15px;
}

#cleare-line {
  fill: var(--default-color);
}

.btn-box-x:hover #cleare-line {
  fill: var(--color-active);
}