<h1>Asistencias de {{aula.nombre}}</h1>
<div *ngIf="asistenciaHoyTomada == false" class="divTomarAsistencia">
  <button class="buttonTomarAsistencia" (click)="tomarAsistencia()">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 svgPersonIcon">
      <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
    </svg>
    Tomar asistencia
  </button>
</div>
<div class="divMessage">
  <p class="pMessage">{{message}}</p>
</div>

<app-asistencia-alumno-popup *ngIf="openAsistenciaAlumnosPopup"
(cancelButtonClick)="openAsistenciaAlumnosPopup = false"
[asistencia]="asistencia"
[aula]="aula"
[esPresentes]="esPresentes">
</app-asistencia-alumno-popup>

<app-error-alert class="alert" (cerrarButtonClick)="showErrorAlert = false"
*ngIf="showErrorAlert">
</app-error-alert>

<div class="container" *ngFor="let asistencia of asistencias">
  <div class="divContainerAsistencia">
    <div class="divContainerInfo">
      <div class="divPresentes">
        <button class="btnInfo" (click)="verAsistenciaAlumnos(asistencia, true)"> Presentes
        </button>
      </div>
      <div class="divInfoAsistencia">
        <div class="divFechaAsistencia">
          <label class="labelTitle" for="">Fecha:</label>
          <label class="labelData" for="">{{asistencia.fechaAsistenciaTomada.substring(8,10)}}/{{asistencia.fechaAsistenciaTomada.substring(5,7)}}/{{asistencia.fechaAsistenciaTomada.substring(0,4)}}</label>
        </div>
      </div>
      <div class="divAusentes">
        <button class="btnInfo" (click)="verAsistenciaAlumnos(asistencia, false)"> Ausentes
        </button>
      </div>
    </div>
  </div>
</div>

<!-- <ng-template #childTemplate> -->
  <!-- <app-historiales [aula]="aula"></app-historiales> ASISTENCIA -->
  <!-- <app-alumnos [aula]="aula"></app-alumnos> ALUMNOS
</ng-template> -->


<app-go-back-button class="goBackComp" (backButtonClick)="goBack()">
</app-go-back-button>
