<h1>Tomar Asistencia {{aula.nombre}}</h1>
<div class="divMessage">
  <p class="pMessage">{{message}}</p>
</div>
<div class="divFechaHoyContainer">
  <div class="divFechaHoy">
    <h3 class="pMessage">Fecha: {{fechaString.substring(9,11)}}/{{fechaString.substring(6,8)}}/{{fechaString.substring(1,5)}}</h3>
  </div>
</div>
<div class="divCargarAsistencia">
  <button class="buttonCargarAsistencia" (click)="openConfirmCargaAsistenciaPopup = true">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 svgCalendarIcon">
      <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z" />
    </svg>
    Cargar asistencia
  </button>
</div>

<div *ngIf="openDatosAusenciaPopup || openConfirmCargaAsistenciaPopup || openSuccessAlert || openErrorAlert" class="divCover"></div>

<app-datos-ausencia-popup *ngIf="openDatosAusenciaPopup"
  [ausencias]="ausencias"
  [idAlumno]="idAlumno"
  (cancelButtonClick)="openDatosAusenciaPopup = false">
</app-datos-ausencia-popup>

<app-confirm-carga-asistencia-alert *ngIf="openConfirmCargaAsistenciaPopup"
(cancelButtonClick)="openConfirmCargaAsistenciaPopup = false"
(cargarButtonClick)="cargarAsistencia()">
</app-confirm-carga-asistencia-alert>

<app-success-alert class="alert" *ngIf="openSuccessAlert"
(cerrarButtonClick)="closeSuccessPopup()"
[esCargaDeAsistencia]="esCargaDeAsistencia">
</app-success-alert>

<app-error-alert class="alert" (cerrarButtonClick)="showErrorAlert = false"
*ngIf="showErrorAlert">
</app-error-alert>

<div class="divTableHeaders">
  <div class="divHeaderTitles">
    <label class="labelTitle" for="">Alumno/a</label>
    <label class="labelTitle" for="">Asistencia</label>
  </div>
</div>
<div class="container" *ngFor="let alumno of alumnos">
  <div class="divData">
    <div class="divNombreAlumno">
      <label class="labelData" for="">{{alumno.apellido}}, {{alumno.nombre}}</label>
    </div>
    <div class="divAsistencia" *ngIf="tieneAusenciaEnEstaFecha(alumno.ausencias) == false">
      <div class="checkbox-wrapper-44">
        <label class="toggleButton">
          <input (click)="presenteChecked(alumno)" type="checkbox">
          <div>
            <svg class="svgCheck" viewBox="0 0 44 44">
              <path transform="translate(-2.000000, -2.000000)" d="M14,24 L21,31 L39.7428882,11.5937758 C35.2809627,6.53125861 30.0333333,4 24,4 C12.95,4 4,12.95 4,24 C4,35.05 12.95,44 24,44 C35.05,44 44,35.05 44,24 C44,19.3 42.5809627,15.1645919 39.7428882,11.5937758"></path>
            </svg>
          </div>
        </label>
      </div>
    </div>
    <div class="divAusencia" *ngIf="tieneAusenciaEnEstaFecha(alumno.ausencias) == true">
      <button class="btnVer" (click)="verAusenciaAlumnoAusente(alumno.id, alumno.ausencias)">Ausencia</button>
    </div>
  </div>
  <hr class="lineSeparator">
</div>

<app-go-back-button class="goBackComp" (backButtonClick)="goBack()">
</app-go-back-button>
