<div class="alertBody fadeInDown">
  <div class="modal-content">
    <div class="icon-box">
      <img src="https://cdn3.iconfinder.com/data/icons/basicolor-arrows-checks/24/151_check_no_delete_error_remove-512.png" alt="">
    </div>
    <button type="button" (click)="cerrarClicked()" class="closeButton" data-dismiss="modal" aria-hidden="true">&times;</button>
  </div>
  <div class="alertTextContainer">
    <div class="text-center">
      <h4>Oh oh!</h4>
      <p>Algo salio mal!</p>
    </div>
  </div>
</div>
