<h1 *ngIf="esAusencia">Archivos de ausencia</h1>
<h1 *ngIf="!esAusencia">Archivos de nota</h1>

<div #divContent class="container" >
    <div class="divFechaComienzo">
      <p *ngIf="esAusencia" class="pFechaComienzo">{{ausencia.fechaComienzo.substring(8,10)}}/{{ausencia.fechaComienzo.substring(5,7)}}/{{ausencia.fechaComienzo.substring(0,4)}}</p>
      <p *ngIf="!esAusencia" class="pFechaComienzo">{{nota.fecha.substring(8,10)}}/{{nota.fecha.substring(5,7)}}/{{nota.fecha.substring(0,4)}}</p>
    </div>
    <div class="divContainerData">
      <div class="divMotivoTitle">
        <label *ngIf="esAusencia" class="labelTitle" for="">Motivo: </label>
        <label *ngIf="!esAusencia" class="labelTitle" for="">Titulo: </label>
      </div>
      <div class="divMotivoData">
        <label *ngIf="esAusencia" class="labelData" for="">{{ausencia.motivo}}</label>
        <label *ngIf="!esAusencia" class="labelData" for="">{{nota.titulo}}</label>
      </div>
    </div>
</div>

<div class="divMain">
  <div class="divTableContainer">
    <div class="divTableHeader divNombre">
      <label for="">Nombre de archivo</label>
    </div>
    <div class="divTableHeader divAccion">
      <label for="">Accion</label>
    </div>
  </div>
  <div *ngIf="message != ''"  class="divText">
    <p>{{message}}</p>
  </div>
  <div *ngFor="let file of filesNames; let i = index" class="divFile"
  [ngClass]="{'even-background': i % 2 === 0, 'odd-background': i % 2 !== 0}">
    <div class="divFileName">
      <label *ngIf="esAusencia" for="">{{file.fileName.replace(stringToReplaceAusencia, '')}}</label>
      <label *ngIf="!esAusencia" for="">{{file.fileName.replace(stringToReplaceNota, '')}}</label>
    </div>
    <div class="divDownloadFileBtn">
      <button (click)="downloadFile(file.fileName, file.contentType, file.data)" class="Btn">
        <svg class="svgIcon" viewBox="0 0 384 512" height="1em" xmlns="http://www.w3.org/2000/svg"><path d="M169.4 470.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 370.8 224 64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 306.7L54.6 265.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"></path></svg>
        <span class="icon2"></span>
        <span class="tooltip" >Descargar</span>
     </button>
    </div>
  </div>
</div>

<app-go-back-button class="goBackComp" (backButtonClick)="goBack()">
</app-go-back-button>
