<h1>Alumnos de {{aula.nombre}}</h1>
<div class="divMessage">
  <p class="pMessage">{{message}}</p>
</div>

<div *ngIf="openPopupAusenciasAlumno || openSuccessAlert || openErrorAlert" class="divCover"></div>

<!-- POPUP AUSENCIAS ALUMNO -->
<app-ausencias-hijo-popup class="popupAusenciasAlumno" *ngIf="openPopupAusenciasAlumno"
[ausencias]="ausenciasAlumno" [alumno]="alumno" [message]="messageAusencia"
[esAusenciasAlumno]="true" [esAusenciasHijo]="false"
(cancelButtonClick)="cerrarAusenciasAlumnoPopup()">
</app-ausencias-hijo-popup>

<!-- ALERT SUCCESS ACEPTAR/DENEGAR AUSENCIA ALUMNO -->
<app-success-alert class="alert" *ngIf="openSuccessAlert"
(cerrarButtonClick)="openSuccessAlert = false"
[esAceptarAusenciaAlumno]="esAceptarAusenciaAlumno"
[esDenegarAusenciaAlumno]="esDenegarAusenciaAlumno">
</app-success-alert>

<!-- ALERT ERROR ACEPTAR/DENEGAR AUSENCIA ALUMNO -->
<app-error-alert class="alert" *ngIf="openErrorAlert"
(cerrarButtonClick)="openErrorAlert = false">
</app-error-alert>

<div class="container" *ngFor="let alumno of alumnos">
  <div class="divContainerAlumno">
    <div class="pNombre">
      <p>{{alumno.apellido}}, {{alumno.nombre}}</p>
    </div>
    <div class="divContainerInfo">
      <div class="divAusencias">
        <button class="btnInfo" (click)="verAusencias(alumno)"> Ausencias
        </button>
      </div>
      <div class="divInfoAlumno">
        <div class="divDNIAlumno">
          <label class="labelTitle" for="">DNI:</label>
          <label class="labelData" for="">{{alumno.dni}}</label>
        </div>
        <div class="divFechaNacimientoAlumno">
          <label class="labelTitle" for="">Nacimiento:</label>
          <label class="labelData" for="">{{alumno.fechaNacimiento.substring(8,10)}}/{{alumno.fechaNacimiento.substring(5,7)}}/{{alumno.fechaNacimiento .substring(0,4)}}</label>
        </div>
        <div class="divGradoAlumno">
          <label class="labelTitle" for="">Grado:</label>
          <label class="labelData" for="">{{alumno.grado}}</label>
        </div>
        <div class="divDivisionAlumno">
          <label class="labelTitle" for="">Division:</label>
          <label class="labelData" for="">{{alumno.division}}</label>
        </div>
        <div class="divAsistenciaAlumno">
          <label class="labelTitle" for="">Asistencia: </label>
          <label class="labelData" for="">{{alumno.asistencia}}%</label>
        </div>
      </div>
      <div class="divHistoriales">
        <button class="btnInfo" (click)="verHistoriales(alumno)"> Historiales
        </button>
      </div>
    </div>
  </div>
</div>

<app-go-back-button class="goBackComp" (backButtonClick)="goBack()">
</app-go-back-button>
