<h1>Alumnos de {{aula.nombre}}</h1>
<div class="divMessage">
  <p class="pMessage">{{message}}</p>
</div>

<div *ngIf="openPopupAusenciasAlumno || openPopupPadresAlumno || openSuccessAlert || openErrorAlert" class="divCover"></div>

<!-- POPUP AUSENCIAS ALUMNO -->
<app-ausencias-hijo-popup class="popupAusenciasAlumno" *ngIf="openPopupAusenciasAlumno"
[ausencias]="ausenciasAlumno" [alumno]="alumno" [message]="messageAusencia"
[esAusenciasAlumno]="true" [esAusenciasHijo]="false"
(cancelButtonClick)="cerrarAusenciasAlumnoPopup()">
</app-ausencias-hijo-popup>

<!-- POPUP PADRES ALUMNO -->
<app-padres-alumno-popup *ngIf="openPopupPadresAlumno"
[aula]="aula"
[alumno]="alumno"
(cancelButtonClick)="openPopupPadresAlumno = false">
</app-padres-alumno-popup>

<!-- ALERT SUCCESS ACEPTAR/DENEGAR AUSENCIA ALUMNO -->
<app-success-alert class="alert" *ngIf="openSuccessAlert"
(cerrarButtonClick)="closeSuccessAlert()"
[esAceptarAusenciaAlumno]="esAceptarAusenciaAlumno"
[esDenegarAusenciaAlumno]="esDenegarAusenciaAlumno"
[esRemoverAlumnoDeAula]="esRemoverAlumnoDeAula">
</app-success-alert>

<!-- ALERT ERROR ACEPTAR/DENEGAR AUSENCIA ALUMNO -->
<app-error-alert class="alert" *ngIf="openErrorAlert"
(cerrarButtonClick)="openErrorAlert = false">
</app-error-alert>

<confirm class="confirmDeletePopup" (cancelButtonClick)="openDeletionPopup = false"
(eliminarButtonClick)="confirmEliminarAlumnoDeAula()"
[itemForDelete]="itemForDelete"
*ngIf="openDeletionPopup">
</confirm>

<div class="container" *ngIf="message == ''">
  <div class="divContainerAlumno" *ngFor="let alumno of alumnos.slice(calculateIndices().startIndex, calculateIndices().endIndex)">
    <div class="pNombre">
      <p>{{alumno.apellido}}, {{alumno.nombre}}</p>
    </div>
    <div class="divContainerInfo">
      <div class="divAusencias">
        <button class="btnInfo" (click)="verAusencias(alumno)"> Ausencias
        </button>
      </div>
      <div class="divInfoAlumno">
        <div class="divDNIAlumno">
          <label class="labelTitle" for="">DNI:</label>
          <label class="labelData" for="">{{alumno.dni}}</label>
        </div>
        <div class="divFechaNacimientoAlumno">
          <label class="labelTitle" for="">Nacimiento:</label>
          <label class="labelData" for="">{{alumno.fechaNacimiento.substring(8,10)}}/{{alumno.fechaNacimiento.substring(5,7)}}/{{alumno.fechaNacimiento.substring(0,4)}}</label>
        </div>
        <div class="divAsistenciaAlumno">
          <label class="labelTitle" for="">Asistencia: </label>
          <label class="labelData" for="">{{alumno.asistencia}}%</label>
        </div>
        <div class="divButtonPadresAlumno">
          <label class="labelTitle" for="">Padre(s): </label>
          <button class="btnVer" (click)="verPadres(alumno)">Ver padre(s)</button>
        </div>
      </div>
      <div class="divHistoriales">
        <button class="btnInfo" (click)="verHistoriales(alumno)"> Historiales
        </button>
      </div>
    </div>
    <div *ngIf="accedeDirectivo" class="divEliminarAlumnoAula">
      <div class="divContainerEliminarAlumnoAula">
        <button class="btnEliminarAlumnoAula" title="Remover Alumno de Aula" (click)="eliminarAlumnoDeAula(alumno)">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 svgCrossIcon">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
        </button>
      </div>
    </div>
  </div>
  <div class="pagination-controls">
    <button title="Anterior" class="paginationBtn" (click)="previousPageClick()" [disabled]="currentPage === 1">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 svgArrowIcon">
        <path stroke-linecap="round" stroke-linejoin="round" d="M21 16.811c0 .864-.933 1.405-1.683.977l-7.108-4.062a1.125 1.125 0 010-1.953l7.108-4.062A1.125 1.125 0 0121 8.688v8.123zM11.25 16.811c0 .864-.933 1.405-1.683.977l-7.108-4.062a1.125 1.125 0 010-1.953L9.567 7.71a1.125 1.125 0 011.683.977v8.123z" />
      </svg>
    </button>
    <ng-container *ngIf="alumnos.length > itemsPerPage">
      <button class="currentPageBtn" (click)="pageClick(page)" *ngFor="let page of getPages()" [ngClass]="{ 'current-page': page === currentPage }">{{page}}</button>
    </ng-container>
    <button title="Siguiente" class="paginationBtn" (click)="nextPageClick()" [disabled]="currentPage * itemsPerPage >= alumnos.length">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 svgArrowIcon">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3 8.688c0-.864.933-1.405 1.683-.977l7.108 4.062a1.125 1.125 0 010 1.953l-7.108 4.062A1.125 1.125 0 013 16.81V8.688zM12.75 8.688c0-.864.933-1.405 1.683-.977l7.108 4.062a1.125 1.125 0 010 1.953l-7.108 4.062a1.125 1.125 0 01-1.683-.977V8.688z" />
      </svg>
    </button>
  </div>
</div>

<app-go-back-button class="goBackComp" (backButtonClick)="goBack()">
</app-go-back-button>
