<p>Notas Recibidas</p>

<!--POPUP CONFIRMAR ELIMINACION DE NOTA-->
<confirm (cancelButtonClick)="closeModal()"
(eliminarButtonClick)="handleDeleteClick()"
*ngIf="openDeletionPopup">
</confirm>

<!--ALERT SUCCESS-->
<app-success-alert class="alert" (cerrarButtonClick)="closeSuccessAlert()"
*ngIf="showDeletionSuccessAlert" [esDeletion]="showDeletionSuccessAlert">
</app-success-alert>

<!--ALERT ERROR-->
<app-error-alert class="alert" (cerrarButtonClick)="closeErrorAlert()"
*ngIf="showErrorAlert">
</app-error-alert>

<!-- ALERT NOTA LEIDA -->
<app-nota-leida-alert class="leidaAlert" (aceptarButtonClick)="closeLeidaAlert()"
*ngIf="showNotaLeidaAlert">
</app-nota-leida-alert>

<!-- POPUP LEER NOTA -->
<app-leer-nota-popup [nota]="notaALeerr" class="leerNotaPopup"
*ngIf="popupLeerNota" (cancelButtonClick)="closeLeer()">

</app-leer-nota-popup>

<main class="inner">
  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">Titulo</th>
        <th scope="col">Fecha</th>
        <th scope="col">Emisor</th>
        <th scope="col">Referido</th>
        <th scope="col">Tipo</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tr *ngIf="message != ''" class="mensaje">{{message}}</tr>
    <tbody class="scroll" *ngFor="let nota of notas">
      <tr>
        <td>{{nota.titulo}}</td>
        <td>{{nota.fecha}}</td>
        <td>{{nota.emisor.email}}</td>
        <td *ngIf="nota.tipo == 2">{{nota.referido.apellido}}, {{nota.referido.nombre}}</td>
        <td *ngIf="nota.tipo == 1">No hay alumno referido</td>
        <td *ngIf="nota.tipo == 1">Generica</td>
        <td *ngIf="nota.tipo == 2">Particular</td>
        <td>
          <div class="divActionButtons">
            <button class="delete-button" title="Eliminar nota" (click)="openDeletion(nota.id)">
              <svg class="delete-svgIcon" viewBox="0 0 448 512">
                <path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"></path>
              </svg>
            </button>
            <button class="btn eye" title="Leer nota" (click)="openLeer(nota)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
              </svg>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <app-go-back-button class="goBackComp" (backButtonClick)="goBack()">
  </app-go-back-button>
</main>
