<!--POPUP EDITAR-->
<div class="popup fadeInDown">
  <form>
    <div class="formContent">
      <div class="titleHeader">
        <h2>Resetear Clave</h2>
      </div>

      <h3>Por favor, completa los siguientes campos:</h3>
      <span id="generalError" class="error"></span>
      <br>

      <label>Clave actual</label>
      <input #claveActualInput type="password" [(ngModel)]="claveActual" name="claveActual" />

      <label>Nueva clave</label>
      <input #claveNuevaInput type="password" [(ngModel)]="claveNueva" name="claveNueva">
      <span id="claveError" class="error"></span>

      <label>Confirme su nueva clave</label>
      <input #confirmacionClaveInput type="password" [(ngModel)]="confirmacionClaveNueva" name="confirmacionClaveNueva">
      <span id="confirmacion" class="error"></span>
    </div>

    <div class="container">
      <div class="customButtons">
        <button (click)="cancelarClicked()" class="closeButton">
          Cancelar
        </button>
        <button class="btnReset" (click)="resetearClicked()">
          <span>
            Resetear
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75a4.5 4.5 0 01-4.884 4.484c-1.076-.091-2.264.071-2.95.904l-7.152 8.684a2.548 2.548 0 11-3.586-3.586l8.684-7.152c.833-.686.995-1.874.904-2.95a4.5 4.5 0 016.336-4.486l-3.276 3.276a3.004 3.004 0 002.25 2.25l3.276-3.276c.256.565.398 1.192.398 1.852z" />
              <path stroke-linecap="round" stroke-linejoin="round" d="M4.867 19.125h.008v.008h-.008v-.008z" />
            </svg>
          </span>
          <span>
            Seguro?
          </span>
          <span>
            Enviado!
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><g stroke-width="0" id="SVGRepo_bgCarrier"></g><g stroke-linejoin="round" stroke-linecap="round" id="SVGRepo_tracerCarrier"></g><g id="SVGRepo_iconCarrier"> <path stroke-linecap="round" stroke-width="2" stroke="#ffffff" d="M8.00011 13L12.2278 16.3821C12.6557 16.7245 13.2794 16.6586 13.6264 16.2345L22.0001 6"></path> <path fill="#ffffff" d="M11.1892 12.2368L15.774 6.63327C16.1237 6.20582 16.0607 5.5758 15.6332 5.22607C15.2058 4.87635 14.5758 4.93935 14.226 5.36679L9.65273 10.9564L11.1892 12.2368ZM8.02292 16.1068L6.48641 14.8263L5.83309 15.6248L2.6 13.2C2.15817 12.8687 1.53137 12.9582 1.2 13.4C0.868627 13.8419 0.95817 14.4687 1.4 14.8L4.63309 17.2248C5.49047 17.8679 6.70234 17.7208 7.381 16.8913L8.02292 16.1068Z" clip-rule="evenodd" fill-rule="evenodd"></path> </g></svg>
          </span>
        </button>
      </div>
    </div>
  </form>
</div>
