.popup {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation-name: _ngcontent-awe-c49_fadeInDown;
  animation-duration: 1s;
  animation-fill-mode: both;
  width: -webkit-fill-available;
  position: absolute;
  top: 0;
  z-index: 9999;
    background-color: #28282B;
    border-radius: 18px;
    box-shadow: 3px 6px 6px 8px rgba(0, 0, 0, 0.2);
}

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
.formContent {
  display: flex;
  flex-direction: column;
  margin: 4%;
}
.titleHeader {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  text-align: center;
  font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
}

h2{
  color: white;
  text-align: center;
  font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
}

form {
  flex-direction: column;
  background-color: #28282b;
  border-radius: 18px;
  box-shadow: 3px 6px 6px 8px rgba(0, 0, 0, 0.2);
}

.container {
  background-color: #28282b;
  margin-top: 26px;
  margin-bottom: 13px;
  display: flex;
  justify-content: space-evenly;
}
.customButtons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.cancelarButton{
  border-radius: 16px;
  font-size: 17px;
    padding: 16px;
    width: 130px;
    margin: 5px;
    background-color: transparent;
}
.cancelarButton:hover{
    background-color: red;
}

.btnAdd {
  display: inline-block;
  border-radius: 4px;
  background-color: #18638f;
  border: none;
  border-radius: 10px;
  color: #FFFFFF;
  text-align: center;
  font-size: 17px;
  padding: 16px;
  width: 130px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
 }

 .btnAdd span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
 }

 .btnAdd span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
 }

 .btnAdd:hover span {
  padding-right: 15px;
 }

 .btnAdd:hover span:after {
  opacity: 1;
  right: 0;
 }

input[type=text], input[type=number], select{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  color: white;
  background-color: #2a2a2a;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.button {
  height: 50px;
  width: 150px;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid #252525;
  overflow: hidden;
  border-radius: 30px;
  color: #333;
  transition: all 0.5s ease-in-out;
}

.btn-txt {
  z-index: 1;
  font-weight: 800;
  letter-spacing: 4px;
}

.type1::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.5s ease-in-out;
  background-color: #333;
  border-radius: 30px;
  visibility: hidden;
  height: 10px;
  width: 10px;
  z-index: -1;
}

.button:hover {
  box-shadow: 1px 1px 200px #252525;
  color: #fff;
  border: none;
}

.type1:hover::after {
  visibility: visible;
  transform: scale(100) translateX(2px);
}


@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}
