<!--POPUP EDITAR-->
<div class="popup fadeInDown">
  <form>
    <div class="formContent">
      <div class="titleHeader">
        <h2>Modificar nota</h2>
      </div>

      <h3 *ngIf="nota.tipo == 1">Solo los campos 'Titulo', 'Cuerpo' y 'Aula Destinada' pueden ser modificados.</h3>
      <h3 *ngIf="nota.tipo == 2">Solo los campos 'Titulo' y 'Cuerpo' pueden ser modificados.</h3>

      <br>

      <label>Titulo</label>
      <input type="text" value="{{nota.titulo}}" [(ngModel)]="tituloNota" name="tituloNota" />

      <label>Cuerpo</label>
      <input type="text" value="{{nota.cuerpo}}" [(ngModel)]="cuerpoNota" name="cuerpoNota" >

      <label *ngIf="nota.tipo == 1">Nombre de Aula destinada</label>
      <select *ngIf="nota.tipo == 1" [(ngModel)]="aulaElegida" name="aulaElegida" (ngModelChange)="handleAulaSeleccionada($event)" name="Aula Destinada" id="aulas" #options>
        <option>Aula destinada</option>
        <option *ngFor="let aula of aulas" [value]="aula.id">{{ aula.nombre }}</option>
      </select>
    </div>

    <div class="container">
      <div class="customButtons">
        <button (click)="cancelarClicked()" type="button" class="btn btn-secondary cancelarButton">Cancelar</button>
        <button class="button" (click)="editarClicked()">
          Modificar
        </button>
      </div>
    </div>
  </form>
</div>
