<div class="overlay">
  <div class="popup fadeInDown">
    <div class="popupHeader">
      <div class="popupTitulo">
        <h2>{{nota.titulo}}</h2>
      </div>
    </div>

    <div class="content">
      <div>
        <label class="campos">Fecha: </label> <label for="">{{nota.fecha.substring(8,10)}}/{{nota.fecha.substring(5,7)}}/{{nota.fecha.substring(0,4)}} {{nota.fecha.substring(11,19)}}</label>
      </div>
      <div>
        <label class="campos">Emisor: </label> <label for="">{{nota.emisor.email}}</label>
      </div>
      <div>
        <label class="campos">Referido: </label> <label *ngIf="nota.referido != null" for="">{{nota.referido.apellido}}, {{nota.referido.nombre}}</label> <label *ngIf="nota.referido == null" for="">No hay alumno referido</label>
      </div>
      <div>
        <label class="campos" >Tipo:</label> <label *ngIf="nota.tipo == 1" for="">  Generica</label><label *ngIf="nota.tipo == 2" for=""> Particular</label>
      </div>
      <div class="cuerpoNota">
        <label class="campos" for="">Cuerpo de nota</label>
        <p>{{nota.cuerpo}}</p>
      </div>
    </div>
    <div class="popupCloseButton">
      <button class="close-button" title="Cerrar" (click)="cancelarClicked()">
        <svg class="close-svgIcon" viewBox="0 0 362 362">
          <path d="M 90.998 91.502 L 72.515 110.005 107.502 145.002 L 142.489 180.000 107.742 214.758 L 72.995 249.515 91.500 268.000 L 110.005 286.485 144.765 251.735 L 179.524 216.986 214.260 251.774 L 248.996 286.562 267.770 267.788 L 286.545 249.014 251.522 214.257 L 216.500 179.500 251.500 144.761 L 286.500 110.022 268.008 91.509 L 249.515 72.995 214.758 107.742 L 180.000 142.489 145.245 107.745 C 126.129 88.635 110.262 73.000 109.985 73.000 C 109.707 73.000 101.163 81.326 90.998 91.502 "></path>
                        </svg>
        </button>
    </div>
  </div>
</div>
