<h1>Mis Hijos</h1>
<div class="divMessage">
  <p class="pMessage">{{message}}</p>
</div>

<div class="divAgregarAusenciasGenericas">
  <div class="divAgregarAusencia">
    <button class="icon-btn add-btn" title="Nueva ausencia generica" (click)="openAgregarAusenciasGenericasPopup = true; esGenerica = true">
      <div class="add-icon"></div>
      <div class="btn-txt">Agregar</div>
    </button>
  </div>
</div>


<!-- POPUP DATOS INSTITUCION HIJO -->
<app-datos-institucion-popup *ngIf="openPopupDatosInstitucionHijo"
[institucion]="institucion"
(cancelButtonClick)="cerrarDatosInstitucionPopup()">
</app-datos-institucion-popup>

<!-- POPUP AUSENCIAS HIJO -->
<app-ausencias-hijo-popup class="popupAusenciasHijo" *ngIf="openPopupAusenciasHijo"
[ausencias]="ausencias" [hijo]="hijo" [message]="messageAusencia"
(cancelButtonClick)="cerrarAusenciasHijoPopup()"
[idHijo]="idHijo">
</app-ausencias-hijo-popup>

<!-- POPUP AREGAR AUSENCIAS GENERICAS -->
<app-agregar-ausencia-popup class="agregarAusenciasGenericasPopup" *ngIf="openAgregarAusenciasGenericasPopup"
[esGenerica]="esGenerica"
(cancelButtonClick)="openAgregarAusenciasGenericasPopup = false"
(agregarButtonClick)="handleAgregarAusenciaGenericaClick($event)">
</app-agregar-ausencia-popup>

<!-- ALERT SUCCESS AREGAR AUSENCIAS GENERICAS -->
<app-success-alert class="alert" *ngIf="openSuccessAlert"
(cerrarButtonClick)="aceptarClicked()"
[esAgregarAusenciaGenerica]="esAgregarAusenciaGenerica">
</app-success-alert>

<!-- ALERT ERROR AREGAR AUSENCIAS GENERICAS -->
<app-error-alert class="alert" *ngIf="openErrorAlert"
(cerrarButtonClick)="openErrorAlert = false">
</app-error-alert>

<div class="container" *ngFor="let hijo of hijos">
  <div class="divContainerHijo">
    <div class="pNombre">
      <p>{{hijo.apellido}}, {{hijo.nombre}}</p>
    </div>
    <div class="divContainerInfo">
      <div class="divAusencias">
        <button class="btnInfo" (click)="verAusencias(hijo.id, hijo)"> Ausencias
        </button>
      </div>
      <div class="divInfoHijo">
        <div class="divDNIHijo">
          <label class="labelTitle" for="">DNI:</label>
          <label class="labelData" for="">{{hijo.dni}}</label>
        </div>
        <div class="divGradoHijo">
          <label class="labelTitle" for="">Grado:</label>
          <label class="labelData" for="">{{hijo.grado}}</label>
        </div>
        <div class="divDivisionHijo">
          <label class="labelTitle" for="">Division:</label>
          <label class="labelData" for="">{{hijo.division}}</label>
        </div>
        <div class="divAsistenciaHijo">
          <label class="labelTitle" for="">Asistencia: </label>
          <label class="labelData" for="">{{hijo.asistencia}}%</label>
        </div>
        <div class="divInstitucion">
          <label class="labelTitle" for="">Institucion</label>
          <button class="btnVerInstitucion" (click)="verInstitucion(hijo.institucion)">
            <span>
            Ver Institucion
            </span>
          </button>
        </div>
      </div>
      <div class="divHistoriales">
        <button class="btnInfo" (click)="verHistoriales(hijo)"> Historiales
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #childTemplate>
  <app-historiales [hijo]="hijo"></app-historiales>
</ng-template>

<app-go-back-button class="goBackComp" (backButtonClick)="goBack()">
</app-go-back-button>
