<h1>Mis Hijos</h1>
<div class="divMessage">
  <p class="pMessage">{{message}}</p>
</div>

<div *ngIf="hijos.length > 0" class="divAgregarAusenciasGenericas">
  <div class="divAgregarAusencia">
    <button class="icon-btn add-btn" title="Nueva ausencia generica" (click)="openAgregarAusenciasGenericasPopup = true; esGenerica = true">
      <div class="add-icon"></div>
      <div class="btn-txt">Agregar</div>
    </button>
  </div>
</div>

<div *ngIf="openPopupDatosInstitucionHijo || openPopupDatosAulaHijo || openPopupAusenciasHijo || openAgregarAusenciasGenericasPopup || openSuccessAlert || openErrorAlert" class="divCover"></div>
<!-- POPUP DATOS AULA HIJO -->
<app-datos-aula-hijo-popup *ngIf="openPopupDatosAulaHijo"
[hijo]="hijo"
(cancelButtonClick)="cerrarDatosAulaPopup()">
</app-datos-aula-hijo-popup>

<!-- POPUP DATOS INSTITUCION HIJO -->
<app-datos-institucion-popup *ngIf="openPopupDatosInstitucionHijo"
[institucion]="institucion"
(cancelButtonClick)="cerrarDatosInstitucionPopup()">
</app-datos-institucion-popup>

<!-- POPUP AUSENCIAS HIJO -->
<app-ausencias-hijo-popup class="popupAusenciasHijo" *ngIf="openPopupAusenciasHijo"
[ausencias]="ausencias" [hijo]="hijo" [message]="messageAusencia"
[esAusenciasAlumno]="false" [esAusenciasHijo]="true"
(cancelButtonClick)="cerrarAusenciasHijoPopup()"
[idHijo]="idHijo">
</app-ausencias-hijo-popup>

<!-- POPUP AREGAR AUSENCIAS GENERICAS -->
<app-agregar-ausencia-popup class="agregarAusenciasGenericasPopup" *ngIf="openAgregarAusenciasGenericasPopup"
[esGenerica]="esGenerica"
(cancelButtonClick)="openAgregarAusenciasGenericasPopup = false"
(agregarButtonClick)="handleAgregarAusenciaGenericaClick($event)">
</app-agregar-ausencia-popup>

<!-- ALERT SUCCESS AREGAR AUSENCIAS GENERICAS -->
<app-success-alert class="alert" *ngIf="openSuccessAlert"
(cerrarButtonClick)="aceptarClicked()"
[esAgregarAusenciaGenerica]="esAgregarAusenciaGenerica">
</app-success-alert>

<!-- ALERT ERROR AREGAR AUSENCIAS GENERICAS -->
<app-error-alert class="alert" *ngIf="openErrorAlert"
(cerrarButtonClick)="openErrorAlert = false">
</app-error-alert>

<div class="container">
  <div class="divContainerHijo" *ngFor="let hijo of hijos.slice(calculateIndices().startIndex, calculateIndices().endIndex)">
    <div class="pNombre">
      <p>{{hijo.apellido}}, {{hijo.nombre}}</p>
    </div>
    <div class="divContainerInfo">
      <div class="divAusencias">
        <button class="btnInfo" (click)="verAusencias(hijo.id, hijo)"> Ausencias
        </button>
      </div>
      <div class="divInfoHijo">
        <div class="divDNIHijo">
          <label class="labelTitle" for="">DNI:</label>
          <label class="labelData" for="">{{hijo.dni}}</label>
        </div>
        <div class="divAsistenciaHijo">
          <label class="labelTitle" for="">Asistencia: </label>
          <label class="labelData" for="">{{hijo.asistencia}}%</label>
        </div>
        <div class="divAulaHijo">
          <label class="labelTitle" for="">Aula</label>
          <button class="btnVer" (click)="verAula(hijo)">
            <span>
            Ver Aula
            </span>
          </button>
        </div>
        <div class="divInstitucion">
          <label class="labelTitle" for="">Institucion</label>
          <button class="btnVer" (click)="verInstitucion(hijo.institucion)">
            <span>
            Ver Institucion
            </span>
          </button>
        </div>
      </div>
      <div class="divHistoriales">
        <button class="btnInfo" (click)="verHistoriales(hijo)"> Historiales
        </button>
      </div>
    </div>
  </div>
  <div class="pagination-controls">
    <button title="Anterior" class="paginationBtn" (click)="previousPageClick()" [disabled]="currentPage === 1">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 svgArrowIcon">
        <path stroke-linecap="round" stroke-linejoin="round" d="M18.75 19.5l-7.5-7.5 7.5-7.5m-6 15L5.25 12l7.5-7.5" />
      </svg>
    </button>
    <ng-container *ngIf="hijos.length > itemsPerPage">
      <button class="currentPageBtn" (click)="pageClick(page)" *ngFor="let page of getPages()" [ngClass]="{ 'current-page': page === currentPage }">{{page}}</button>
    </ng-container>
    <button title="Siguiente" class="paginationBtn" (click)="nextPageClick()" [disabled]="currentPage * itemsPerPage >= hijos.length">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 svgArrowIcon">
        <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5" />
      </svg>
    </button>
  </div>
</div>

<ng-template #childTemplate>
  <app-historiales [hijo]="hijo"></app-historiales>
</ng-template>

<app-go-back-button class="goBackComp" (backButtonClick)="goBack()">
</app-go-back-button>
