.overlay{
  display: flex;
    justify-content: center;
}

.popup{
  display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    background-color: #373b3e;
    height: fit-content;
    width: min-content;
    min-width: 326px;
    border-radius: 7%;
    border: 4px solid black;
    position: absolute;
    z-index: 9999;
}

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.popupHeader{
  display: flex;
  justify-content: center;
}

.popupTitulo{
  text-decoration-line: underline;
}

.content{
  display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: 16px;
    margin-left: 16px;
}

.campos{
  margin-right: 10px;
  text-decoration-line: underline;
  font-size: 22px;
  font-weight: 500;
}

.cuerpoNota{
  text-align: center;
}

.popupCloseButton{
  display: flex;
  justify-content: center;
  margin-bottom: 14px;
  margin-top: 20px;
}

.close{
    transition: all 200ms;
    font-size: 30px;
    text-decoration: none;
    color: white;
    text-decoration-line: none;
    background: none;
    border: 2px solid red;
    border-radius: 20px;
}

.close:hover{
  background-color: red;
  color: white;
}
