<div class="overlay">
  <div class="popup fadeInDown">
    <div class="popupHeader">
      <div class="popupTitulo">
        <h2>Institucion</h2>
      </div>
    </div>

    <div class="content">
      <div class="divCampos">
        <label class="campos">Nombre: </label> <label class="labelData" for="">{{institucion.nombre}}</label>
      </div>
      <div class="divCampos">
        <label class="campos">Ciudad: </label> <label class="labelData" for="">{{institucion.ciudad}}</label>
      </div>
      <div class="divCampos">
        <label class="campos">Direccion: </label> <label class="labelData" for="">{{institucion.direccion}}</label>
      </div>
      <div class="divCampos">
        <label class="campos">Telefono: </label> <label class="labelData" for="">{{institucion.telefono}}</label>
      </div>
    </div>
    <div  class="customButtons">
      <button (click)="cancelarClicked()" class="closeButton">
        Cerrar
      </button>
    </div>
  </div>
</div>
