h1 {
  display: flex;
  justify-content: center;
  font-family: Chalk, sans-serif;
  font-size: 50px;
}

.divCover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1d1d1d6b;
  z-index: 999;
  backdrop-filter: blur(3px) brightness(1.04);
}

.alert {
  display: flex;
  justify-content: center;
}

.divTableContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

table {
  width: 84%;
}

thead {
  border-block-color: #03CEA4;
}

.thName,
.tdName {
  width: 50%;
  text-align: left;
}

.thName {
  border-top-left-radius: 20px;
}

table tbody tr.last-row .tdName {
  border-bottom-left-radius: 20px;
}

table tbody tr.last-row .tdAction {
  border-bottom-right-radius: 20px;
}

.thAction {
  width: 50%;
  text-align: right;
  border-top-right-radius: 20px;
}

.tdAction {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

td {
  font-family: Chalk, sans-serif;
}

.btnEliminarAlumno {
  background-color: transparent;
  border: none;
  transition: transform 0.3s ease;
}

.btnEliminarAlumno:hover {
  transform: scale(1.08);
}

.svgCrossIcon {
  width: 45px;
  height: 45px;
  color: white;
}

.btnEliminarAlumno:hover .svgCrossIcon {
  color: red;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 16px;
  height: 24px;
}

.paginationBtn {
  background-color: transparent;
  border: none;
  border-radius: 100%;
}

.paginationBtn:hover {
  background-color: #23a9da90;
  color: white;
}

.svgArrowIcon {
  height: 20px;
  width: 20px;
  display: flex;
}

.currentPageBtn {
  border-radius: 100%;
  height: fit-content;
  background-color: transparent;
  border: none;
}

.current-page {
  background-color: #23a9da;
  color: #fff;
}

.currentPageBtn:hover {
  background-color: #23a9da;
  color: white;
}

.goBackComp {
  display: flex;
  justify-content: center;
}