<div class="overlay">
  <div class="popup fadeInDown">
    <div *ngIf="openDescripcionEventoPopup || openDeletionPopup || openEditarEventoPopup || showAsistenciaEventoPopup"
      class="divCover">
    </div>

    <app-editar-evento-popup class="popup" *ngIf="openEditarEventoPopup"
      (cancelButtonClick)="openEditarEventoPopup = false" (editarButtonClick)="editarEvento($event)" [evento]="evento"
      [aulas]="aulas">
    </app-editar-evento-popup>

    <confirm class="confirmDeletePopup" (cancelButtonClick)="openDeletionPopup = false"
      (eliminarButtonClick)="confirmEliminarEvento()" [itemForDelete]="itemForDelete" *ngIf="openDeletionPopup">
    </confirm>

    <app-destinatarios-nota-popup *ngIf="showAsistenciaEventoPopup" class="popup"
      (cancelButtonClick)="showAsistenciaEventoPopup = false" [evento]="evento">
    </app-destinatarios-nota-popup>

    <app-cuerpo-popup [evento]="evento" (cerrarButtonClick)="openDescripcionEventoPopup = false"
      *ngIf="openDescripcionEventoPopup">
    </app-cuerpo-popup>

    <div class="divContainerEvento">
      <div class="pNombre">
        <p>{{evento.meta.eventDetails.motivo}}</p>
      </div>
      <div class="divContainerInfo">
        <div class="divDataEvento">
          <label class="labelTitle" for="">Fecha:</label>
          <p class="pData">{{ evento.meta.eventDetails.fecha | date: 'dd/MM/yyyy' }}</p>
        </div>
        <div class="divDataEvento">
          <label class="labelTitle" for="">Localidad:</label>
          <p class="pData">{{evento.meta.eventDetails.localidad}}</p>
        </div>
        <div class="divDataEvento">
          <label class="labelTitle" for="">Descripcion:</label>
          <button class="btnLeerDescripcion" title="Leer Descripcion" (click)="openDescripcionEvento(evento)">
            <span>
              Ver
            </span>
          </button>
        </div>
        <div class="divDataEvento">
          <label class="labelTitle" for="">Aula invitada:</label>
          <p class="pData">{{evento.meta.eventDetails.aulaDestinada.nombre}}</p>
        </div>
        <div class="divDataEvento">
          <label class="labelTitle" for="">Anunciante:</label>
          <p class="pData">{{evento.meta.eventDetails.creador.apellido}}, {{evento.meta.eventDetails.creador.nombre}}
          </p>
        </div>
      </div>
      <div class="divAccionesEvento">
        <div>
          <button class="btnAccionEvento btnEliminarEvento" title="Eliminar Evento" (click)="eliminarEvento(evento)"
            *ngIf="loggedInUser.id == evento.meta.eventDetails.creador.id">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-6 h-6 svgCrossIcon">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
          </button>
          <button class="btnAccionEvento btnAsistenciaEvento" title="Asistencia Evento"
            (click)="verAsistenciaEvento(evento)" *ngIf="isDirectivo || isDocente">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-6 h-6 svgAsistencia">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M18 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0ZM3 19.235v-.11a6.375 6.375 0 0 1 12.75 0v.109A12.318 12.318 0 0 1 9.374 21c-2.331 0-4.512-.645-6.374-1.766Z" />
            </svg>
          </button>
          <button class="btnAccionEvento btnEditarEvento" title="Editar Evento" (click)="openPopupEditarEvento(evento)"
            *ngIf="loggedInUser.id == evento.meta.eventDetails.creador.id  && eventoDate > today">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-6 h-6 svgEditIcon">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
            </svg>
          </button>
        </div>
        <div class="divContainerAccionesEvento">
          <button class="noButton" title="No Asiste"
            (click)="confirmarAsistencia(evento.meta.eventDetails.id, 'No Asiste')"
            *ngIf="isPadre && !evento.meta.eventDetails.yaConfirmoAsistencia && (eventoDate > today || areEqualDates)">
            No Asistire
          </button>
          <button class="talVezButton" title="Tal Vez Asiste"
            (click)="confirmarAsistencia(evento.meta.eventDetails.id, 'Tal Vez Asiste')"
            *ngIf="isPadre && !evento.meta.eventDetails.yaConfirmoAsistencia && (eventoDate > today || areEqualDates)">
            Tal Vez Asista
          </button>
          <button class="siButton" title="Asiste" (click)="confirmarAsistencia(evento.meta.eventDetails.id, 'Asiste')"
            *ngIf="isPadre && !evento.meta.eventDetails.yaConfirmoAsistencia && (eventoDate > today || areEqualDates)">
            Asistire
          </button>
          <div class="divSvgIcon" *ngIf="isPadre && evento.meta.eventDetails.tipoAsistencia == 'Si'" title="Asiste">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="svgCheck">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>
          </div>
          <div class="divSvgIcon" *ngIf="isPadre && evento.meta.eventDetails.tipoAsistencia == 'No'" title="No Asiste">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="svgCross">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>
          </div>
          <div class="divSvgIcon" *ngIf="isPadre && evento.meta.eventDetails.tipoAsistencia == 'Tal Vez'"
            title="Tal Vez Asiste">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="svgQuestionMark">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M9.879 7.519c1.171-1.025 3.071-1.025 4.242 0 1.172 1.025 1.172 2.687 0 3.712-.203.179-.43.326-.67.442-.745.361-1.45.999-1.45 1.827v.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 5.25h.008v.008H12v-.008Z" />
            </svg>
          </div>
        </div>
        <div class="popupCloseButton">
          <button class="closeButton" title="Cerrar" (click)="cancelarClicked()">
            Cerrar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>