<h1 *ngIf="!esAlumno">Historiales de {{hijo.nombre}}</h1>
<h1 *ngIf="esAlumno">Historiales de {{alumno.nombre}}</h1>
<div *ngIf="esAlumno && !accedeDirectivo" class="divAgregarHistorial">
  <button class="icon-btn add-btn" title="Nuevo historial para {{alumno.nombre}}" (click)="openAgregarHistorialPopup = true">
    <div class="add-icon"></div>
    <div class="btn-txt">Agregar</div>
  </button>
</div>
<div class="divMessage">
  <p class="pMessage">{{message}}</p>
</div>

<div *ngIf="openConfirmacionFirmaHistorialPopup || openConfirmDeletePopup || openEditarHistorialPopup || openAgregarHistorialPopup || openTokenConfirmation || openSuccessAlert || openErrorAlert" class="divCover"></div>
<app-confirmacion-firma-nota-popup *ngIf="openConfirmacionFirmaHistorialPopup"
(cancelButtonClick)="openConfirmacionFirmaHistorialPopup = false"
(firmarButtonClick)="handleFirmarClick()"
[esFirmaHistorial]="true"
[esFirmaNota]="false">
</app-confirmacion-firma-nota-popup>

<!-- REUTILIZO ESTE POPUP PARA CONFIRMAR TOKEN EN FIRMA DE HISTORIAL (mas seguridad)-->
<app-recuperar-clave-popup class="tokenPopup" *ngIf="openTokenConfirmation"
(validarButtonClick)="validarToken($event)"
[esTokenParaFirmaHistorial]="esTokenParaFirmaHistorial">
</app-recuperar-clave-popup>

<app-agregar-historial-popup class="agregarHistorialPopup" *ngIf="openAgregarHistorialPopup"
(cancelButtonClick)="closeAgregarPopup()"
(agregarButtonClick)="handleAgregarHistorialClick($event)"
[alumno]="alumno">
</app-agregar-historial-popup>

<app-editar-historial-popup *ngIf="openEditarHistorialPopup"
[historial]="historial"
(cancelButtonClick)="openEditarHistorialPopup = false"
(editButtonClick)="handleEditHistorialClick($event)">
</app-editar-historial-popup>

<confirm *ngIf="openConfirmDeletePopup"
    [itemForDelete]="itemForDelete"
    (eliminarButtonClick)="deleteClicked()"
    (cancelButtonClick)="closeDeletionPopup()">
</confirm>

<app-success-alert class="alert" *ngIf="openSuccessAlert"
(cerrarButtonClick)="aceptarClick()"
[esFirmaHistorial]="esFirmaHistorial"
[esAgregarHistorial]="esAgregarHistorial"
[esEliminarHistorial]="esEliminarHistorial"
[esEditarHistorial]="esEditarHistorial">
</app-success-alert>

<app-error-alert class="alert" *ngIf="openErrorAlert"
(cerrarButtonClick)=" openErrorAlert = false">
</app-error-alert>

<div class="divPrincipal">
  <div class="container" *ngFor="let historial of historiales.slice(calculateIndices().startIndex, calculateIndices().endIndex)">
    <div class="divContainerInfo">
      <div class="divDescripcionHistorial">
        <label *ngIf="historial.estado == 7" class="labelData" for="">Observacion</label>
        <label class="labelData" for="">{{historial.descripcion}}</label>
      </div>
      <div class="divDataHistorial">
        <div class="divFechaHistorial">
          <label class="labelTitle" for="">Fecha:</label>
          <label class="labelData" for="">{{ historial.fecha | date:'dd/MM/yyyy' }}</label>
        </div>
        <div  *ngIf="historial.estado != 7" class="divCalificacionHistorial">
          <label class="labelTitle" for="">Calificacion:</label>
          <label  *ngIf="historial.calificacion == null" class="labelData" for=""> Sin calificacion</label> <label  *ngIf="historial.calificacion != null" class="labelData" for="">{{historial.calificacion}}</label>
        </div>
        <div class="divEstadoHistorial">
          <label *ngIf="historial.estado != 7" class="labelTitle" for="">Estado:</label>
          <label *ngIf="historial.estado == 1" class="labelData" for="">Aprobado</label>
          <label *ngIf="historial.estado == 2" class="labelData" for="">No Aprobado</label>
          <label *ngIf="historial.estado == 3" class="labelData" for="">Entregado</label>
          <label *ngIf="historial.estado == 4" class="labelData" for="">No Entregado</label>
          <label *ngIf="historial.estado == 5" class="labelData" for="">Presente</label>
          <label *ngIf="historial.estado == 6" class="labelData" for="">Ausente</label>
        </div>
        <div *ngIf="esAlumno" class="divFirmadoONo">
          <label class="labelTitle" for="">Firmado:</label>
          <label *ngIf="historial.firmado == true" class="labelData" for="">Si</label>
          <label *ngIf="historial.firmado == false" class="labelData" for="">No</label>
        </div>
      </div>
      <div *ngIf="!esAlumno && !accedeDirectivo" class="divFirmaHistoriales">
        <button *ngIf="historial.firmado == false" (click)="openConfirmacionFirmaPopup(historial.idHistorial)" class="buttonFirmarHistorial">
          Firmar
        </button>
        <svg *ngIf="historial.firmado == true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 svgCheckIcon">
          <title>Firmado</title>
          <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 01-1.043 3.296 3.745 3.745 0 01-3.296 1.043A3.745 3.745 0 0112 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 01-3.296-1.043 3.745 3.745 0 01-1.043-3.296A3.745 3.745 0 013 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 011.043-3.296 3.746 3.746 0 013.296-1.043A3.746 3.746 0 0112 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 013.296 1.043 3.746 3.746 0 011.043 3.296A3.745 3.745 0 0121 12z" />
        </svg>
      </div>
      <div *ngIf="esAlumno && !accedeDirectivo" class="divAccionesHistorialAlumno">
        <button class="delete-button" (click)="openDeletion(historial.idHistorial)" title="Eliminar">
          <svg class="delete-svgIcon" viewBox="0 0 448 512">
            <path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"></path>
          </svg>
        </button>
        <button class="edit-button" title="Editar" (click)="openEdition(historial)" >
          <svg class="edit-svgIcon" viewBox="0 0 512 512">
            <path d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <div class="pagination-controls">
    <button title="Anterior" class="paginationBtn" (click)="previousPageClick()" [disabled]="currentPage === 1">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 svgArrowIcon">
        <path stroke-linecap="round" stroke-linejoin="round" d="M21 16.811c0 .864-.933 1.405-1.683.977l-7.108-4.062a1.125 1.125 0 010-1.953l7.108-4.062A1.125 1.125 0 0121 8.688v8.123zM11.25 16.811c0 .864-.933 1.405-1.683.977l-7.108-4.062a1.125 1.125 0 010-1.953L9.567 7.71a1.125 1.125 0 011.683.977v8.123z" />
      </svg>
    </button>
    <ng-container *ngIf="historiales.length > itemsPerPage">
      <button class="currentPageBtn" (click)="pageClick(page)" *ngFor="let page of getPages()" [ngClass]="{ 'current-page': page === currentPage }">{{page}}</button>
    </ng-container>
    <button title="Siguiente" class="paginationBtn" (click)="nextPageClick()" [disabled]="currentPage * itemsPerPage >= historiales.length">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 svgArrowIcon">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3 8.688c0-.864.933-1.405 1.683-.977l7.108 4.062a1.125 1.125 0 010 1.953l-7.108 4.062A1.125 1.125 0 013 16.81V8.688zM12.75 8.688c0-.864.933-1.405 1.683-.977l7.108 4.062a1.125 1.125 0 010 1.953l-7.108 4.062a1.125 1.125 0 01-1.683-.977V8.688z" />
      </svg>
    </button>
  </div>
</div>


<app-go-back-button class="goBackComp" (backButtonClick)="goBack()">
</app-go-back-button>
