h1 {
  display: flex;
  justify-content: center;
  font-family: Chalk, sans-serif;
  font-size: 50px;

}

.divAgregarHistorial {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.icon-btn {
  width: 50px;
  height: 50px;
  border: 1px solid #cdcdcd;
  background: white;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  transition: width 0.2s ease-in-out;
  font-weight: 500;
  font-family: inherit;
}

.add-btn:hover {
  width: 120px;
}

.add-btn::before,
.add-btn::after {
  transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
  content: "";
  position: absolute;
  height: 4px;
  width: 10px;
  top: calc(50% - 2px);
  background: seagreen;
}

.add-btn::after {
  right: 14px;
  overflow: hidden;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.add-btn::before {
  left: 14px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.icon-btn:focus {
  outline: none;
}

.btn-txt {
  opacity: 0;
  transition: opacity 0.2s;
}

.add-btn:hover::before,
.add-btn:hover::after {
  width: 6px;
  border-radius: 2px;
}

.add-btn:hover .btn-txt {
  opacity: 1;
}

.add-icon::after,
.add-icon::before {
  transition: all 0.2s ease-in-out;
  content: "";
  position: absolute;
  height: 20px;
  width: 2px;
  top: calc(50% - 10px);
  background: seagreen;
  overflow: hidden;
}

.add-icon::before {
  left: 22.4px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.add-icon::after {
  right: 22.4px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.add-btn:hover .add-icon::before {
  left: 15px;
  height: 4px;
  top: calc(50% - 2px);
}

.add-btn:hover .add-icon::after {
  right: 15px;
  height: 4px;
  top: calc(50% - 2px);
}

.divMessage .pMessage {
  display: flex;
  justify-content: center;
  font-family: Chalk, sans-serif;
  font-size: x-large;
}

.divCover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1d1d1d6b;
  /* Transparent black background */
  z-index: 999;
  /* Ensure the overlay is above other elements */
  backdrop-filter: blur(3px) brightness(1.04);
}

.tokenPopup {
  position: relative;
  display: flex;
  justify-content: center;
}

.agregarHistorialPopup {
  display: flex;
  justify-content: center;
  position: relative;
}

.alert {
  display: flex;
  justify-content: center;
}

.divPrincipal {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.container {
  width: 421px;
}

.divContainerInfo {
  text-align: center;
  background-color: #28282bbd;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  border-radius: 14px;
  height: fit-content;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}

.divContainerInfo:hover {
  transform: scale(1.02);

}

.divDescripcionHistorial {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.divFechaHistorial {
  display: flex;
  justify-content: space-between;
}

.divCalificacionHistorial {
  display: flex;
  justify-content: space-between;
}

.divEstadoHistorial {
  display: flex;
  justify-content: space-between;
}

.divFirmadoONo {
  display: flex;
  justify-content: space-between;
}

.labelTitle {
  text-decoration-line: underline;
  font-size: 22px;
  font-weight: 500;
  margin-left: 12px;
}

.labelData {
  font-size: 22px;
  margin-right: 12px;
}

.divFirmaHistoriales {
  margin-bottom: 10px;
  margin-top: 10px;
}

svg title {
  transition: opacity 0.5s ease-in-out;
  /* Adjust the transition duration */
}

.buttonFirmarHistorial {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.buttonFirmarHistorial:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.svgCheckIcon {
  width: 40px;
  height: 40px;
  color: #00a600;
  border-radius: 25px;
}

.divAccionesHistorialAlumno {
  display: flex;
  justify-content: space-evenly;
  margin-top: 12px;
  margin-bottom: 14px;
}

.delete-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
}

.delete-svgIcon {
  width: 15px;
  transition-duration: 0.3s;
}

.delete-svgIcon path {
  fill: white;
}

.delete-button:hover {
  width: 90px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgb(200, 22, 22);
  align-items: center;
}

.delete-button:hover .delete-svgIcon {
  width: 20px;
  transition-duration: 0.3s;
  transform: translateY(60%);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.delete-button::before {
  display: none;
  content: "Eliminar";
  color: white;
  transition-duration: 0.3s;
  font-size: 2px;
}

.delete-button:hover::before {
  display: block;
  padding-right: 10px;
  font-size: 13px;
  opacity: 1;
  transform: translateY(0px);
  transition-duration: 0.3s;
}

.edit-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
  text-decoration: none !important;
}

.edit-svgIcon {
  width: 17px;
  transition-duration: 0.3s;
}

.edit-svgIcon path {
  fill: white;
}

.edit-button:hover {
  width: 120px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgb(220, 220, 47);
  align-items: center;
}

.edit-button:hover .edit-svgIcon {
  width: 20px;
  transition-duration: 0.3s;
  transform: translateY(60%);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.edit-button::before {
  display: none;
  content: "Editar";
  color: white;
  transition-duration: 0.3s;
  font-size: 2px;
}

.edit-button:hover::before {
  display: block;
  padding-right: 10px;
  font-size: 13px;
  opacity: 1;
  transform: translateY(0px);
  transition-duration: 0.3s;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 16px;
  height: 24px;
}

.paginationBtn {
  background-color: transparent;
  border: none;
  border-radius: 100%;
}

.paginationBtn:hover {
  background-color: #23a9da90;
  color: white;
}

.svgArrowIcon {
  height: 20px;
  width: 20px;
  display: flex;
}

.currentPageBtn {
  border-radius: 100%;
  height: fit-content;
  background-color: transparent;
  border: none;
}

.current-page {
  background-color: #23a9da;
  color: #fff;
}

.currentPageBtn:hover {
  background-color: #23a9da;
  color: white;
}

.goBackComp {
  display: flex;
  justify-content: center;
}